<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>App Users</p>
            </div>
            <div class="is-pulled-left">
                <a @click="toDashboard()" class="is-size-6 p-l-10">Dashboard /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">App Users</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <button class="button is-primary is-pulled-left has-text-weight-bold" @click="openModal()"><i class="fas fa-user-plus">&nbsp;</i>Add user</button>
            <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input v-model="form.search" class="input is-medium" type="text" v-on:keyup="searchMonitor()" placeholder="Search User">
                </div>
                <div class="control">
                    <a class="button is-link is-medium">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
            <br><br>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th v-for="(column, index) in columns" :key="index"> {{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users" :key="user.id">
                        <td><b>{{ user.last_name }}, {{ user.first_name }}</b></td>
                        <td>{{ user.role }}</td>
                        <td class="is-pulled-right">
                            <button class="button" @click="editUser(user)">
                                <i class="fas fa-user-edit"></i>
                            </button>
                            <button class="button has-text-danger" @click="confirmDelete(user)">
                                <i class="fas fa-user-times"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadUsers"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
        </div>
        <sweet-modal ref="modal" title="User Form">
            
            <div class="container form">
                <form @submit.prevent="editMode ? updateUser() : saveUser()">
                    <div class="field">
                        <label class="label">First Name:</label>
                        <input v-model="form.first_name" placeholder="e.g William" type="text" name="first_name" id="first_name"
                            class="input">
                    </div>
                    <div class="field">
                        <label class="label">Middle Name:</label>
                        <input v-model="form.middle_name" placeholder="e.g Henry" type="text" name="middle_name" id="middle_name"
                            class="input">
                    </div>
                    <div class="field">
                        <label class="label">Last Name:</label>
                        <input v-model="form.last_name" placeholder="e.g William" type="text" name="last_name" id="last_name"
                            class="input">
                    </div>
                    <div class="field">
                        <label class="label">Username:</label>
                        <input v-model="form.username" placeholder="e.g Gates1234" type="text" name="username" id="username"
                            class="input">
                    </div>
                    <div class="field">
                        <label class="label">User Role:</label>
                        <select name="gender" v-model="form.role" id="role" class="input">
                            <option value="admin">Admin</option>
                            <option value="cashier">Cashier</option>
                            <option value="medtech">Medtech</option>
                            <option value="client">Client</option>
                        </select>
                    </div>
                    <div class="field" v-show="!editMode">
                        <label class="label">Password:</label>
                        <input v-model="form.password" placeholder="*********" type="password" name="password" id="password"
                            class="input">
                    </div>
                    <div class="field" v-show="!editMode">
                        <label class="label">Re-Type Password:</label>
                        <input v-model="password" placeholder="*********" type="password" name="password" id="re-password" class="input">
                    </div>
                    <div class="field is-pulled-right">
                        <button type="submit" class="button is-primary is-normal is-outlined">Submit</button>
                    </div>
                </form>
            </div>
        </sweet-modal>
        <sweet-modal ref="nestedChild" icon="error" blocking overlay-theme="dark" modal-theme="dark">
            Please Check Fields
        </sweet-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                columns:[
                    'Full Name',
                    'User Role',
                    ''
                ],
                pageCount: 1,
                endpoint: 'api/user?page=',
                users:{},
                admin:'',
                password:'',
                editMode: false,
                page: 1,
                form:{
                    id:'',
                    first_name:'',
                    middle_name:'',
                    last_name:'',
                    username:'',
                    role:'',
                    password:'',
                    search:'',
                },
            }
        },
        methods: {
            searchMonitor(){
                if(this.form.search == '') {
                    this.loadUsers();
                }else{ 
                    axios.get('api/user/search/'+this.form.search)
                    .then(({ data }) => (this.users = data));
                }
            },

            openModal() {
                this.cleanForm();
                this.$refs.modal.open()
            },

            loadUsers(page = 1) {
                axios.get(this.endpoint + page)
                    .then(({data}) => {
                        this.users = data.data;
                        this.pageCount = data.last_page;
                    });
            },

            editUser(user) {
                this.editMode = true;
                this.form.id = user.id;
                this.form.first_name = user.first_name;
                this.form.middle_name = user.middle_name;
                this.form.last_name = user.last_name;
                this.form.username = user.username;
                this.form.role = user.role;
                this.$refs.modal.open();
            },

            confirmDelete(user) {
                Swal.fire({
                    title: 'Delete this User?',
                    text: user.last_name+', '+user.first_name+' will be deleted',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.deleteUser(user.id);
                    }
                })
            },

            deleteUser(id) {
                axios.delete('/api/user/'+id)
                .then(()=>{
                    this.loadUsers();
                    Swal.fire({
                        type: 'success',
                        title: 'Updated',
                        text: 'User Deleted',
                    })
                })
                .catch(() => {
                  this.$refs.nestedChild.open()
                })
            },

            saveUser() {
                axios.post('/api/user', this.form)
                .then(()=>{
                    this.$refs.modal.close();
                    this.loadUsers();
                    this.cleanForm();
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: '',
                    })
                })
                .catch(()=>{
                    this.$refs.nestedChild.open()
                })
            },

            updateUser() {
                axios.put('/api/user/'+this.form.id, this.form)
                .then(()=>{
                    this.$refs.modal.close();
                    this.loadUsers();
                    this.cleanForm();
                    Swal.fire({
                        type: 'success',
                        title: 'User Updated',
                        text: '',
                    })
                })
                .catch(() => {
                  this.$refs.nestedChild.open()
                })
            },

            toDashboard() {

                this.$router.push("/")

            },

            cleanForm() {
                this.form.id = '';
                this.form.first_name = '';
                this.form.middle_name = '';
                this.form.last_name = '';
                this.form.username = '';
                this.form.role = '';
                this.form.password = '';
                this.editMode = false;
            }
        },
        created() {
            this.loadUsers();
        }
    }
</script>