<template>
    <section id="queue-content">
        <div class="container">
            <div class="columns">
                <div class="column is-5">
                    <div>
                        <span class="title">MEDTECH</span>
                        <div class="bg-queue has-text-centered" style="height: 200px;">
                            <p class="queue-number" style="top: -20px;position: relative;" >{{ medtech }}</p>
                        </div>
                    </div>
                    <div class="m-t-5">
                        <span class="title is-size-4 has-text-weight-bold">Next No.</span>
                        <div class="table-container">
                            <table class="table">
                                <tr>
                                    <td v-for="(pending, index) in pendings" :key="index" v-show="pending.queue > medtech" class="has-text-centered has-text-primary is-size-5">
                                        <b class="is-size-3">{{pending.queue}}</b>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- <div class="m-t-20">
                        <span class="title is-size-4 has-text-weight-bold">Unsettled Client Queue Numbers</span>
                        <div class="table-container">
                            <table class="table">
                                <tr>
                                    <td v-for="(pending, index) in pendings" :key="index" v-show="medtech > pending.queue" class="has-text-centered has-text-primary is-size-5">
                                        <b class="is-size-3">{{pending.queue}}</b>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div> -->
                    <div>
                        <span class="title">CASHIER</span>
                        <div class="bg-queue has-text-centered" style="height: 200px;">
                            <p class="queue-number" style="top: -20px;position: relative;" >{{cashier}}</p>
                        </div>
                    </div>
                    <div class="m-t-20">
                        <span class="title is-size-4 has-text-weight-bold">Next No.</span>
                        <div class="table-container">
                            <table class="table">
                                <tr>
                                    <td v-for="(pending, index) in pendings" :key="index" v-show="pending.queue > cashier" class="has-text-centered has-text-primary is-size-5">
                                        <b class="is-size-3">{{pending.queue}}</b>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- <div class="m-t-20">
                        <span class="title is-size-4 has-text-weight-bold">Unsettled Client Queue Numbers</span>
                        <div class="table-container">
                            <table class="table">
                                <tr>
                                    <td v-for="(pending, index) in pendings" :key="index" v-show="medtech > pending.queue" class="has-text-centered has-text-primary is-size-5">
                                        <b class="is-size-3">{{pending.queue}}</b>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div> -->
                </div>
                <div class="column is-7 m-t-50">
                    <div class="has-text-centered" id="bg-promotion">
                        <video v-if="videoShow" ref="promotional" id="my-video" class="video-js" controls preload="auto" width="700" height="780" loop autoplay="">
                            <source :src="`/upload/${videoName}`" type='video/mp4'>
                        </video>
                    </div>
                </div>
            </div>
            <audio id="audio-player" ref="criteria" :src="'/audio/queue_alert.mp3'"></audio>
 
        </div>
    </section>
</template>
 
<script>
    export default {
        data() {
            return {
                cashier:1,
                medtech:1,
                videoName: '',
                videoShow: false,
                pendings: {},
                pendingsCashier: {},
            }
        },
        methods: {
            loadQueue(){
                axios.get('/api/getQueue/1')
                .then( data => {
                    if(data.data.current_cashier_queue !== this.cashier || data.data.current_queue !== this.medtech || data.data.ring === 1) {
                        this.$refs.criteria.play();
                        this.cashier = data.data.current_cashier_queue;
                        this.medtech = data.data.current_queue;
                    }
                });
            },

            callFunction() {
                setInterval(() => {
                    this.videoShow = true;
                    this.loadQueue();
                    this.loadPending();
                }, 5000);
                
            },

            loadVideo() {
                axios.get('/api/videos/getVideo/1')
                .then( data => {
                    this.videoName = data.data.name+'.'+data.data.extension;
                });
            },

            loadPending() {
                axios.get('/api/getPending')
                .then( data => {
                    this.pendings = data.data;
                })
            },
            
        },
        mounted () {
            this.$refs.criteria.play();
        },
        created() {
            this.callFunction();
            this.loadVideo();
        }
    }
</script>