<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>Report</p>
            </div>
            <div class="is-pulled-left">
                <a @click="toDashboard()" class="is-size-6 p-l-10">Dashboard /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Income Report</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <div class="field is-horizontal is-pulled-left">
                <div class="field-label is-normal">
                    <label class="label">Filter&nbsp;By: </label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                    <div class="control">
                        <div class="select is-fullwidth">
                        <select @change="onChange($event)" v-model="selectTotalReport">
                            <option value="daily">Daily</option>
                            <option value="week">Weekly</option>
                            <option value="month">Month</option>
                            <option value="year">Year</option>
                        </select>
                        </div>
                    </div>
                    </div>
                </div>
                <button v-show="this.selectTotalReport" class="button is-primary has-text-weight-bold m-l-10" @click="print"><i class="fas fa-print">&nbsp;</i>Print Report</button>
            </div>
            <!-- <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input v-model="form.search" class="input" placeholder="Search User" v-on:keyup="searchMonitor()">
                </div>
                <div class="control">
                    <a class="button is-link">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div> -->
             <div v-if="this.selectTotalReport == 'daily'" class="field is-horizontal is-pulled-right">
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                            <input v-model="form.date_report" placeholder="Date of Birth" type="date" name="birthdate" id="birthdate"
                            class="input" required>
                        </p>
                    </div>
                    <a @click="filterReport()" class="button is-primary">filter</a>
                </div>
            </div>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th v-for="(column, index) in columns" :key="index"> {{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="data in datas" :key="data.id">
                        <td>{{selectTotalReport === 'week' ? 'Week: ' : ''}}{{data[0]}}</td>
                        <td>{{data[2]}}</td>
                        <td>{{data[1]}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadIncomes"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
        </div>
    

        <div class="modal" id="myModal">
            <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head modal-header">
                        <p class="modal-card-title"><b>Lorem Ipsum</b></p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <a class="button is-fullwidth is-link m-t-25 is-medium" id="btn-login"><b>Lorem</b></a>
                    </section>
                </div>
        <button class="modal-close is-large" aria-label="close"></button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                try: 0,
                pageCount: 1,
                endpoint: '/api/getDailyIncomeReport?page=',
                incomes:{},
                datas: {},
                dailys: {},
                weeklys: {},
                monthlys: {},
                yearlys: {},
                selectTotalReport: '',
                page: 1,
                columns:[
                    'Date',
                    'Number of Transaction',
                    'Income',
                ],
                form:{
                    date_report: '',
                    search:'',
                },
            }
        },
        methods: {
            filterReport() {
                if(this.form.date_report == '') {
                    return Swal.fire({
                            title: 'Report Date Field Required',
                            text: '',
                            type: 'error',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Okay'
                            }).then((result) => {
                                if (result.value) {
                                }
                            });
                } else {

                axios.get(`/api/getDailyIncomeReportSearch/${this.form.date_report}`)
                    .then(data => {

                        this.dailys = data.data;
                        this.datas = this.dailys

                    });
                }

            },
            searchMonitor(){
                if(this.form.search == '') {
                    this.loadIncomes();
                }else{ 
                    axios.get('api/income/search/'+this.form.search)
                    .then(({ data }) => (this.incomes = data));
                }
            },

            loadIncomes() {
                axios.get('/api/income')
                    .then(data => {
                        this.incomes = data.data;
                    });
            },

            getDaily(page = 1) {
                axios.get('/api/getDailyIncomeReport')
                    .then(data => {

                        this.dailys = data.data;
                        this.datas = data.data;

                    });
            },

            getWeekly() {
                axios.get('/api/getWeeklyIncomeReport')
                    .then(data => {

                        this.weeklys = JSON.parse(JSON.stringify(data.data))

                    });
            },

            getMonthly() {
                axios.get('/api/getMonthlyIncomeReport')
                    .then(data => {

                        this.monthlys = data.data;

                    });
            },

            getYearly() {
                axios.get('/api/getYearlyIncomeReport')
                    .then(data => {

                        this.yearlys = data.data;

                    });
            },


            onChange(event) {
             if (event.target.value == 'week') {
                        
                    return this.datas = this.weeklys
                        
                }else if (event.target.value == 'month') {

                    return this.datas = this.monthlys;

                } else if (event.target.value == 'year') {
                    
                    return this.datas = this.yearlys;

                }else {
                    axios.get('/api/getDailyIncomeReport')
                    .then(data => {

                        this.dailys = data.data;
                        this.datas = data.data;

                    });
                    return this.datas = this.dailys;
                }
                 
            },

            toIncomeReports() {
                this.$router.push("/report/incomes");
            },
            
            toDashboard() {
                this.$router.push("/")
            },

            print(){
                window.open(`/api/printIncome/${this.selectTotalReport}`);
            }
        },
        created() {

            this.getDaily();
            this.getWeekly();
            this.getMonthly();
            this.getYearly();
            this.loadIncomes();

        }
    }
</script>