<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>Report</p>
            </div>
            <div class="is-pulled-left">
                <a @click="toDashboard()" class="is-size-6 p-l-10">Dashboard /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Income Report</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <button class="button is-primary has-text-weight-bold is-pulled-left m-l-10" @click="print"><i class="fas fa-print">&nbsp;</i>Print</button>
            <div class="field is-horizontal is-pulled-right">
                        <div class="field-label is-normal">
                            <label class="label">Report&nbsp;By: </label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                    <select v-model="selectTotalReport">
                                        <option value="empty">All</option>
                                        <option value="modified">Custom</option>
                                        <option value="daily">Day</option>
                                        <option value="month">Month</option>
                                        <option value="year">Year</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div v-if="selectTotalReport == 'modified'" class="field is-horizontal">
                                <div class="field-body">
                                    <label class="label is-size-6 p-t-5">From:</label>
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input v-model="form.from" placeholder="e.g William" type="date" name="first_name" id="first_name"
                                                class="input" required>
                                        </p>
                                    </div>
                                    <label class="label is-size-6 p-t-5">To:</label>
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input v-model="form.to" placeholder="e.g Henry" type="date" name="middle_name" id="middle_name"
                                                class="input" required>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div v-if="selectTotalReport == 'daily'" class="field">
                                <p class="control is-expanded">
                                    <input v-model="form.date_report" placeholder="Date of Birth" type="date" name="birthdate" id="birthdate"
                                    class="input" required>
                                </p>
                            </div>
                            <div v-if="selectTotalReport == 'month'" class="field">
                                <p class="control is-expanded">
                                    <input v-model="form.date_report" placeholder="Date of Birth" type="month" name="birthdate" id="birthdate"
                                    class="input" required>
                                </p>
                            </div>
                            <div v-if="selectTotalReport == 'year'" class="field">
                                
                                        <div class="select is-fullwidth">
                                        <select v-model="form.date_report" >
                                            <option v-for="(yearr, index) in yearss" :key="index" :value="yearr">{{ yearr }}</option>
                                        </select>
                                        </div>
                            </div>
                            <a @click="filterReport()" class="button is-primary">filter</a>
                        </div>
                    </div>
            <!-- <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input v-model="form.search" class="input" placeholder="Search User" v-on:keyup="searchMonitor()">
                </div>
                <div class="control">
                    <a class="button is-link">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div> -->
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th v-for="(column, index) in columns" :key="index"> {{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="data in datas" :key="data.id">
                        <td>{{data.created_at}}</td>
                        <td>{{data.transaction_id}}</td>
                        <td>{{data.transaction.client.last_name}}, {{data.transaction.client.first_name}}</td>
                        <td>{{data.availed}}</td>
                        <td>&#8369; {{data.amount_paid}}</td>
                    </tr>
                </tbody>
            </table>
            <div v-if="!filterMode" class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadIncomes"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
        </div>
    

        <div class="modal" id="myModal">
            <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head modal-header">
                        <p class="modal-card-title"><b>Lorem Ipsum</b></p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <a class="button is-fullwidth is-link m-t-25 is-medium" id="btn-login"><b>Lorem</b></a>
                    </section>
                </div>
        <button class="modal-close is-large" aria-label="close"></button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                try: 0,
                pageCount: 1,
                endpoint: '/api/income?page=',
                incomes:{},
                datas: {},
                dailys: {},
                weeklys: {},
                monthlys: {},
                modifieds: {},
                yearlys: {},
                selectTotalReport: '',
                filterMode: false,
                page: 1,
                yearss: {},
                columns: [
                    'Date',
                    'Transaction_id',
                    'Client',
                    'Availed',
                    'Amount Paid',
                ],
                form:{
                    date_report: '',
                    search:'',
                    from: '',
                    to: '',
                },
            }
        },
        methods: {
            years() {
                    const currentYear = (new Date()).getFullYear();
                    let arr_year = {};
                    let a = 0;

                        for (var i = currentYear; i >= 1990; i--) {

                            arr_year[a++] = i;

                        }
                        this.yearss = arr_year;

                    },
            filterReport() {
                if(this.form.date_report == '') {
                    return Swal.fire({
                            title: 'Report Date Field Required',
                            text: '',
                            type: 'error',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Okay'
                            }).then((result) => {
                                if (result.value) {
                                }
                            });
                } else {

                axios.get(`/api/getDailyIncomeReportSearch/${this.form.date_report}`)
                    .then(data => {

                        this.dailys = data.data;
                        this.datas = this.dailys

                    });
                }

            },
            searchMonitor(){
                if(this.form.search == '') {
                    this.loadIncomes();
                }else{ 
                    axios.get('api/income/search/'+this.form.search)
                    .then(({ data }) => (this.incomes = data));
                }
            },

            loadIncomes(page = 1) {
                axios.get(this.endpoint + page)
                    .then(({data}) => {
                        this.incomes = data.data;
                        this.datas = this.incomes
                        this.pageCount = data.last_page;
                    });
            },

            filterReport() {
                if(this.selectTotalReport == '') {
                    return Swal.fire({
                                title: 'Please Select in Report By',
                                text: '',
                                type: 'error',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Okay'
                                }).then((result) => {
                                    if (result.value) {
                                        this.selectTotalReport = '';
                                    }
                                }); 
                } else {
                    if (this.selectTotalReport == 'daily') {
                            if(this.form.date_report == '') {
                            return Swal.fire({
                                    title: 'Report Date Field Required',
                                    text: '',
                                    type: 'error',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'Okay'
                                    }).then((result) => {
                                        if (result.value) {
                                        }
                                    });
                        } else {
                           this.filterMode = true;
                            axios.get(`/api/getDailyReport/${this.form.date_report}`)
                                .then(data => {

                                    this.dailys = data.data;
                                    this.datas = data.data;
                                    console.log(data.data);

                                });

                                return this.datas = this.dailys
                        }
                            
                    }else if (this.selectTotalReport == 'modified') {
                        if(this.form.from == '' || this.form.to == '') {
                            return Swal.fire({
                                    title: 'Report Date Field Required',
                                    text: '',
                                    type: 'error',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'Okay'
                                    }).then((result) => {
                                        if (result.value) {
                                        }
                                    });
                        } else {
                           this.filterMode = true;
                            axios.get(`/api/getModifiedReport/${this.form.from}/${this.form.to}`)
                                .then(data => {

                                    this.modifieds = data.data;
                                    this.datas = data.data;
                                    console.log(data.data);

                                });

                                return this.datas = this.monthlys;
                        }
                    } else if (this.selectTotalReport == 'month') {
                        if(this.form.date_report == '') {
                            return Swal.fire({
                                    title: 'Report Date Field Required',
                                    text: '',
                                    type: 'error',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'Okay'
                                    }).then((result) => {
                                        if (result.value) {
                                        }
                                    });
                        } else {
                           this.filterMode = true;
                            axios.get(`/api/getMonthlyReport/${this.form.date_report}`)
                                .then(data => {

                                    this.monthlys = data.data;
                                    this.datas = data.data;
                                    console.log(data.data);

                                });

                                return this.datas = this.monthlys;
                        }
                    } else if (this.selectTotalReport == 'year') {
                        if(this.form.date_report == '') {
                            return Swal.fire({
                                    title: 'Report Date Field Required',
                                    text: '',
                                    type: 'error',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'Okay'
                                    }).then((result) => {
                                        if (result.value) {
                                        }
                                    });
                        } else {
                           this.filterMode = true;
                            axios.get(`/api/getYearlyReport/${this.form.date_report}`)
                                .then(data => {

                                    this.yearlys = data.data;
                                    this.datas = data.data;
                                    console.log(data.data);

                                });

                                return this.datas = this.yearlys;
                        }

                    }else {
                        this.form.date_report = '';
                        this.selectTotalReport = '';
                        this.filterMode = false;
                        return this.datas = this.incomes;
                    }

                }
            },


            onChange(event) {
             if (event.target.value == 'week') {
                        
                    return this.datas = this.weeklys
                        
                }else if (event.target.value == 'month') {

                    return this.datas = this.monthlys;

                } else if (event.target.value == 'year') {
                    
                    return this.datas = this.yearlys;

                }else {
                    axios.get('/api/getDailyIncomeReport')
                    .then(data => {

                        this.dailys = data.data;
                        this.datas = data.data;

                    });
                    return this.datas = this.dailys;
                }
                 
            },

            toIncomeReports() {
                this.$router.push("/report/incomes");
            },
            
            toDashboard() {
                this.$router.push("/")
            },

            print(){
                if(this.selectTotalReport == '') {
                    return Swal.fire({
                        title: 'Please Select in Report By',
                        text: '',
                        type: 'error',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Okay'
                        }).then((result) => {
                            if (result.value) {
                                this.selectTotalReport = '';
                            }
                        }); 
                }else {
                    if(this.selectTotalReport == 'empty') {
                        window.open(`/api/printIncome/00-00-0000/${this.selectTotalReport}`);
                    }else if(this.selectTotalReport == 'modified') {
                        if(this.form.from == '' || this.form.to == '') {
                            return Swal.fire({
                                title: 'Please Select Specific Date',
                                text: '',
                                type: 'error',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Okay'
                                }).then((result) => {
                                    if (result.value) {
                                        this.selectTotalReport = '';
                                    }
                                }); 
                        }else {
                            window.open(`/api/printModifiedIncome/${this.form.from}/${this.form.to}/${this.selectTotalReport}`);
                        }
                    } else if(this.selectTotalReport == 'daily') {
                        if(this.form.date_report == '') {
                            return Swal.fire({
                                title: 'Please Select Specific Date',
                                text: '',
                                type: 'error',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Okay'
                                }).then((result) => {
                                    if (result.value) {
                                        this.selectTotalReport = '';
                                    }
                                }); 
                        }else {
                            window.open(`/api/printIncome/${this.form.date_report}/${this.selectTotalReport}`);
                        }
                    } else {
                        if(this.form.date_report == '') {
                            return Swal.fire({
                                title: 'Please Select Specific Date',
                                text: '',
                                type: 'error',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Okay'
                                }).then((result) => {
                                    if (result.value) {
                                        this.selectTotalReport = '';
                                    }
                                }); 
                        }else {
                            window.open(`/api/printIncome/${this.form.date_report}/${this.selectTotalReport}`);
                        }
                    }
                }
            }
        },
        created() {
            this.loadIncomes();
            this.years();
        }
    }
</script>