<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>Report</p>
            </div>
            <div class="is-pulled-left">
                <a @click="toDashboard()" class="is-size-6 p-l-10">Dashboard /</a>
                <a @click="back()" class="is-size-6">Reports /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Income Report</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <div class="is-pulled-left">
                <button class="button is-primary has-text-weight-bold" @click="toIncomeReports()"><i class="fas fa-copy">&nbsp;</i>Income Reports</button>
            </div>
            <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input v-model="form.search" class="input is-medium" placeholder="Search Client" v-on:keyup="searchMonitor()">
                </div>
                <div class="control">
                    <a class="button is-link is-medium">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th v-for="(column, index) in columns" :key="index"> {{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="income in incomes" :key="income.id">
                        <td>{{income.transaction_id}}</td>
                        <td>{{income.transaction.client.last_name}}, {{income.transaction.client.first_name}}</td>
                        <td>{{income.availed}}</td>
                        <td>&#8369; {{income.amount_paid}}</td>
                        <td>{{income.created_at}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadIncomes"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
        </div>
    

        <div class="modal" id="myModal">
            <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head modal-header">
                        <p class="modal-card-title"><b>Lorem Ipsum</b></p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <a class="button is-fullwidth is-link m-t-25 is-medium" id="btn-login"><b>Lorem</b></a>
                    </section>
                </div>
        <button class="modal-close is-large" aria-label="close"></button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pageCount: 1,
                endpoint: '/api/income?page=',
                incomes:{},
                page: 1,
                columns:[
                    'Transaction_id',
                    'Client',
                    'Availed',
                    'Amount Paid',
                    'Date & Time'
                ],
                form:{

                    search:'',
                },
            }
        },
        methods: {
            
            searchMonitor(){
                if(this.form.search == '') {
                    this.loadIncomes();
                }else{ 
                    axios.get('api/income/search/'+this.form.search)
                    .then(({ data }) => (this.incomes = data));
                }
            },

            loadIncomes(page = 1) {
                axios.get(this.endpoint + page)
                    .then(({data}) => {
                        this.incomes = data.data;
                        this.pageCount = data.last_page;
                    });
            },

            toIncomeReports() {
                this.$router.push("/report/incomes");
            },
            
            toDashboard() {

                this.$router.push("/")

            },

            back() {
                this.$router.push("/report/select");
            },

        },
        created() {

            this.loadIncomes();

        }
    }
</script>