<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>Reports</p>
            </div>
            <div class="is-pulled-left">
                <a @click="toDashboard()" class="is-size-6 p-l-10">Dashboard /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Reports</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <div class="columns menu-view p-t-50 is-multiline is-centered">
                <div class="column is-4 is-vcentered has-text-centered">
                    <div class="is-left">
                        <a class="button menu-button-small" @click="toTestReport()">
                        <i class="fas fa-copy"></i>
                        </a><br>
                        <p class='has-text-weight-bold is-size-5'>
                            Test Report
                        </p>
                    </div>
                </div>
                <div class="column is-4 is-vcentered has-text-centered">
                    <div class="is-right">
                        <a class="button menu-button-small" @click="toIncomeReport()">
                        <i class="fas fa-copy"></i>
                        </a><br>
                        <p class='has-text-weight-bold is-size-5'>
                            Income Report
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                resetType: '',
                showReset:false,
            }
        },

        methods: {

            toTestReport() {
                this.$router.push("/report/test");
            },

            toIncomeReport() {
                this.$router.push("/report");
            },

            toDashboard() {

                this.$router.push("/")

            },

        }, 

        created() {

        }
    }
</script>