<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>Reports</p>
            </div>
            <div class="is-pulled-left">
                <a @click="toDashboard()" class="is-size-6 p-l-10">Dashboard /</a>
                <a @click="back()" class="is-size-6">Reports /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Test Reports</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <div class="is-pulled-left m-b-15">
                <button class="button is-primary has-text-weight-bold is-pulled-left m-l-10" @click="print"><i class="fas fa-print">&nbsp;</i>Print</button>
            </div>
            <div class="field is-horizontal is-pulled-right">
                        <div class="field-label is-normal">
                            <label class="label">Report&nbsp;By: </label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <div class="select is-fullwidth">
                                    <select v-model="selectfilterReport">
                                        <option value="empty">All</option>
                                        <option value="daily">Daily</option>
                                        <option value="month">Monthly</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div v-if="selectfilterReport == 'month'" class="field">
                                <p class="control is-expanded">
                                    <input v-model="form.date_report" placeholder="Date of Birth" type="month" name="birthdate" id="birthdate"
                                    class="input" required>
                                </p>
                            </div>
                            <div v-if="selectfilterReport == 'daily'" class="field">
                                <p class="control is-expanded">
                                    <input v-model="form.date_report" placeholder="Date of Birth" type="date" name="birthdate" id="birthdate"
                                    class="input" required>
                                </p>
                            </div>
                            <a @click="filterReport()" class="button is-primary">filter</a>
                        </div>
                    </div>
            <!-- <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input v-model="form.search" class="input is-medium" placeholder="Search Test Name" v-on:keyup="searchMonitor()">
                </div>
                <div class="control">
                    <a class="button is-link is-medium">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div> -->
            <table v-if="selectfilterReport == 'empty'" class="table is-fullwidth">
                <thead>
                    <tr>
                        <th v-for="(column, index) in columns" :key="index"> {{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="!showdate" v-for="test in tests" :key="test.id">
                        <td>{{ test[0] }}</td>
                        <td>{{ test[1] }}</td>
                    </tr>
                </tbody>
            </table>
            <table v-else-if="selectfilterReport != 'empty'" class="table is-fullwidth">
                <thead>
                    <tr>
                        <th v-for="(column, index) in columnss" :key="index"> {{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="test in tests" :key="test.id">
                        <td v-show="showdate">{{ test[0] }} {{ form.date_report.slice(0,4) }}</td>
                        <td><p v-for="testt in test[1]" :key="testt.id">{{ testt[0] }} <br></p></td>
                        <td><p v-for="testt in test[1]" :key="testt.id">{{ testt[1] }} <br></p></td>
                    </tr>
                </tbody>
            </table>
            <div class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadIncomes"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
        </div>
    

        <div class="modal" id="myModal">
            <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head modal-header">
                        <p class="modal-card-title"><b>Lorem Ipsum</b></p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <a class="button is-fullwidth is-link m-t-25 is-medium" id="btn-login"><b>Lorem</b></a>
                    </section>
                </div>
        <button class="modal-close is-large" aria-label="close"></button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pageCount: 1,
                endpoint: '/api/income?page=',
                incomes:{},
                tests: {},
                all: {},
                dailys: {},
                monthlys: {},
                showdate: false,
                page: 1,
                selectfilterReport: '',
                columns:[
                    'Test Name',
                    'No. of Client',
                ],
                columnss:[
                    'Month',
                    'Test Name',
                    'No. of Client',
                ],
                form:{
                    date_report: '',
                    search:'',
                },
            }
        },
        methods: {
            
            searchMonitor(){
                if(this.form.search == '') {
                    this.getTestReport();
                }else{ 
                    axios.get('api/test/getTestSearch/'+this.form.search)
                    .then( data => {this.tests = data.data
                    console.log(data.data);
                    });
                }
            },

            loadIncomes(page = 1) {
                axios.get(this.endpoint + page)
                    .then(({data}) => {
                        this.incomes = data.data;
                        this.pageCount = data.last_page;
                    });
            },

            getTestReport() {
                axios.get(`/api/getTestReport`)
                    .then(data => {

                        console.log(data.data);
                        this.all = data.data;
                        this.tests = this.all;

                    });
            },
            
            filterReport() {
                if(this.selectfilterReport == '') {
                    return Swal.fire({
                            title: 'Please Select in Report By',
                            text: '',
                            type: 'error',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Okay'
                            }).then((result) => {
                                if (result.value) {
                                }
                            });
                } else if (this.selectfilterReport == 'empty') {
                    this.showdate = false;
                    this.form.date_report = '';
                    axios.get(`/api/getTestReport`)
                    .then(data => {

                        console.log(data.data);
                        this.all = data.data;
                        this.tests = this.all;

                    });

                    return this.tests = this.all;

                } else if (this.selectfilterReport == 'daily') {
                    if(this.form.date_report == '') {
                        return Swal.fire({
                                title: 'Report Date Field Required',
                                text: '',
                                type: 'error',
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Okay'
                                }).then((result) => {
                                    if (result.value) {
                                    }
                                });
                    } else {
                        this.showdate = true;
                        axios.get(`/api/getTestDailyReport/${this.form.date_report}`)
                            .then(data => {

                                this.dailys = data.data;
                                this.tests = data.data;
                                console.log(data.data);

                            });

                            return this.tests = this.dailys;
                    }

                } else {
                    if(this.form.date_report == '') {
                            return Swal.fire({
                                    title: 'Report Date Field Required',
                                    text: '',
                                    type: 'error',
                                    showCancelButton: false,
                                    confirmButtonColor: '#3085d6',
                                    confirmButtonText: 'Okay'
                                    }).then((result) => {
                                        if (result.value) {
                                        }
                                    });
                        } else {
                           this.showdate = true;
                            axios.get(`/api/getTestMonthlyReport/${this.form.date_report}`)
                                .then(data => {

                                    this.monthlys = data.data;
                                    this.tests = data.data;
                                    console.log(data.data);

                                });

                                return this.tests = this.monthlys;
                        }
                }
            },

            toIncomeReports() {
                this.$router.push("/report/incomes");
            },
            
            toDashboard() {

                this.$router.push("/")

            },

            print(){
                if(this.selectfilterReport == 'empty') {
                    window.open(`/api/printTestReport/0000-00-00/${this.selectfilterReport}`);

                } else if (this.selectfilterReport == 'daily') {
                    window.open(`/api/printTestReport/${this.form.date_report}/${this.selectfilterReport}`);

                } else if (this.selectfilterReport == 'month') {
                    window.open(`/api/printTestReport/${this.form.date_report}/${this.selectfilterReport}`);

                }
            },

            back() {
                this.$router.push("/report/select");
            },

        },
        created() {

            this.loadIncomes();
            this.getTestReport();

        }
    }
</script>