<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>Cashier</p>
            </div>
            <div class="is-pulled-left">
                <a @click="toDashboard()" class="is-size-6 p-l-10">Dashboard /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Cashier</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body">
            <div class="columns">
                <div class="column is-vertical-rule">
                    <div class="card" style="width: 100%;">
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span>
                                    <a @click="loadQueue()" style="font-size: 18px;"><i class="fas fa-sync"></i>&nbsp;<b>Reload</b></a>
                                </span>
                            </p>
                            <p class="card-footer-item">
                                <span>
                                    <a @click="archiveClient()" style="font-size: 18px;">&nbsp;<b>Next Client</b></a>
                                </span>
                            </p>
                        </footer>
                        <footer class="card-footer">
                            <p class="is-primary p-t-10 has-text-primary has-text-weight-bold">
                                Search Unsettled Treansactions
                            </p>
                        </footer>
                        <div class="field">
                            <div class="control">
                                <input v-model="searchUnsettled" class="input is-primary" type="text" placeholder="Queue No. or Client Name">
                            </div>
                        </div>
                    </div>
                    <div class="p-t-5" v-show="searchUnsettled !== ''">
                        <table class="table is-fullwidth">
                            <thead>
                                <tr>
                                    <th v-for="(column, index) in column" :key="index"> {{column}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="data in filteredUnsettled" :key="data.id" v-show="data.test_name !== 'Drug Test'">
                                    <td class="has-text-weight-bold has-text-primary">{{data.queue}}</td>
                                    <td class="has-text-weight-bold has-text-primary">{{data.client.last_name}}, {{data.client.first_name}}</td>
                                    <td class="has-text-right"><a @click="processArchive(data.id)" class="button is-normal"><i class="fas fa-print"></i>&nbsp;Process Payment</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <br><br><br>
                    </div>
                    <br>
                <form @submit.prevent="completePayment()" enctype="multipart/form-data">
                    <div class="form">
                        <div class="field">
                            <label class="label is-size-4">Total:</label>
                            <div class="control">
                                 <vue-numeric 
                                    currency="₱" 
                                    separator=","
                                    v-bind:precision="2"
                                    v-model="form.total"
                                    class="input has-text-right">
                                </vue-numeric>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label is-size-6">Amount:</label>
                                    <div class="control">
                                        <vue-numeric 
                                            currency="₱" 
                                            separator=","
                                            v-bind:precision="2" 
                                            v-model="form.amount"  
                                            v-on:input="renderChange" 
                                            class="input has-text-right">
                                        </vue-numeric>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label is-size-6">Change:</label>
                                    <div class="control">
                                        <vue-numeric 
                                            currency="₱" 
                                            separator=","
                                            v-bind:precision="2" 
                                            v-model="form.change"
                                            class="input has-text-right">
                                        </vue-numeric>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="button is-large is-fullwidth is-primary"><b><i class="fas fa-cash-register"></i>&nbsp;Charge Payment</b></button>
                    </div>
                </form>
                </div>
                <div class="column is-6">
                    <div class="form">
                        <div class="field">
                            <label class="label is-size-3 is-pulled-right">No. {{form.queue}}</label>
                            <div class="control">
                                <label class="label is-size-5 is-pulled-left" style="bottom: 0px;">Client Name:</label><br><br>
                                <b class="is-size-4">{{ client.last_name }}, {{ client.first_name }}</b>
                            </div>
                        </div>
                    </div>
                    <br>
                    <nav class="panel">
                        <div class="panel-heading has-background-primary is-paddingless p-b-5 p-t-5">
                            <b class="has-text-white is-size-5 m-t-15 m-l-5">Availed Test</b>
                            <a class="button is-small is-primary is-inverted is-outlined is-pulled-right m-r-5" @click="openTestModal()"><i class="is-size-5 fas fa-plus-square"></i></a>
                            <br>
                        </div>
                        <br>
                        <div class="m-l-10" style="margin-top: -12px" v-for="(line, index) in form.selectedTest" :key="index">
                            <div  class="is-pulled-left">
                                <p class="is-pulled-left has-text-weight-bold is-size-4">{{ line.name }}</p>
                            </div>
                            <div class="is-pulled-right m-r-10">
                                <p class="is-pulled-left has-text-weight-bold is-size-4">(&#8369; {{ line.price }})</p>
                                &nbsp;
                                <a class="button is-small is-danger is-rounded m-t-8" @click="deleteTest(line, index)"><i class="fa fa-times-circle"></i></a>
                            </div><br><br>
                        </div>
                    </nav>
                    <br>
                    <nav class="panel">
                        <div class="panel-heading has-background-primary is-paddingless p-b-5 p-t-5">
                            <b class="is-size-5 has-text-white m-t-15 m-l-5">Availed Promo</b>
                            <a class="button is-small is-primary is-inverted is-outlined is-pulled-right m-r-5" @click="openPromoModal()"><i class="is-size-5 fas fa-plus-square"></i></a>
                            <br>
                        </div>
                        <br>
                        <div style="margin-top: -12px" class="m-l-10" v-for="(line, index) in form.selectedPromo" :key="index">
                            <div  class="is-pulled-left">
                                <p class="is-pulled-left has-text-weight-bold is-size-4">{{ line.name }} (&#8369; {{ line.price }})</p>
                            </div>
                            <div class="is-pulled-right m-r-10">
                                <a class="button is-small is-danger is-rounded" @click="deletePromo(line, index)"><i class="fa fa-times-circle"></i></a>
                            </div><br>
                        </div><br>
                    </nav>
                </div>
            </div>
        </div>
        <sweet-modal ref="testModal" title="Test List">  
            <div class="container form">
                <table class="table is-fullwidth" style="max-height: 300px; overflow-y:auto;">
                    <tbody class="select-test-body">
                        <tr v-for="test in tests" :key="test.id" style="border: 1px solid #363636">
                            <td><b>{{ test.name }}</b></td>
                            <td><b class="is-pulled-right">&#8369; {{ test.price }}</b></td>
                            <td>
                                <p class="buttons is-pulled-right" @click="addTest(test)">
                                    <a class="button has-text-primary">
                                        <span class="icon is-small">
                                            <i class="fas fa-plus-square"></i>
                                        </span>
                                    </a>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </sweet-modal>

        <sweet-modal ref="selectPromo" title="" width="40%">
            <div class="container form">
                <table class="table is-fullwidth" style="max-height: 300px; overflow-y:auto;">
                    <tbody class="select-test-body">
                        <tr v-for="promo in promos" :key="promo.id" style="border: 1px solid #363636">
                            <td><b>{{ promo.name }}</b></td>
                            <td><b class="is-pulled-right">&#8369; {{ promo.price }}</b></td>
                            <td>
                                <p class="buttons is-pulled-right" @click="addPromo(test)">
                                    <a class="button has-text-primary">
                                        <span class="icon is-small">
                                            <i class="fas fa-plus-square"></i>
                                        </span>
                                    </a>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </sweet-modal>

        <sweet-modal ref="promoModal" title="" width="40%">
            <code>Click Promo To see test inclusion</code>
            <table class="table is-fullwidth" style="max-height: 300px; overflow-y:auto;">
                <tbody class="select-test-body">
                    <tr v-for="promo in promos" :key="promo.id" style="border: 1px solid #363636" @click="promoSelected(promo)">
                        <td @click="promoSelected(promo)"><b>{{ promo.name }}</b></td>
                        <td @click="promoSelected(promo)"><b class="is-pulled-right">&#8369; {{ promo.price.toLocaleString() }}</b></td>
                    </tr>
                </tbody>
            </table>
        </sweet-modal>

        <sweet-modal ref="promoInclusion" title="" width="40%">
            <div class="columns">
                <div class="column is-8 has-text-left">
                    <b>{{ promoModal.name }}</b>
                </div>
                <div class="column">
                    Price: <b>&#8369; {{ promoModal.price.toLocaleString() }}</b>
                </div>
            </div>
            <b>Test Included</b><br><br>
            <div class="box has-text-centered is-paddingless p-t-10 p-b-10" v-for="(testInclude, index) in testIncluded" :key="index">
                <p class="has-text-weight-bold has-text-primary">
                    {{ testInclude.name }}
                </p>
            </div>
            <button type="submit" class="button is-primary is-normal is-outlined" @click="addPromo(promoModal)"><b>Avail Promo</b></button>
        </sweet-modal>

        <sweet-modal ref="nestedChild" icon="error" blocking overlay-theme="dark" modal-theme="dark">
            Please Check Fields
        </sweet-modal>

        <sweet-modal ref="archivedClient" title="Archived Client" width="40%">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th v-for="(column, index) in column" :key="index"> {{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="data in archived" :key="data.id" v-show="data.test_name !== 'Drug Test'">
                        <td class="has-text-weight-bold has-text-primary">{{data.queue}}</td>
                        <td class="has-text-weight-bold has-text-primary">{{data.client.last_name}}, {{data.client.first_name}}</td>
                        <td class="has-text-right"><a @click="processArchive(data.id)" class="button is-normal"><i class="fas fa-print"></i>&nbsp;Process Payment</a></td>
                    </tr>
                </tbody>
            </table>
        </sweet-modal>

        <sweet-modal ref="queueList" icon="error" blocking overlay-theme="dark" modal-theme="dark">
            Please Check Fields
        </sweet-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                client:[],
                searchUnsettled:'',
                // queue_no:'',
                tests:{},
                promos:{},
                testIncluded:{},
                column: [
                    'Queue No.',
                    'Name',
                    '',
                ],
                promoModal: {
                    name:'',
                    description:'',
                    price:'',
                    tests:{},
                },
                archived: [],
                form: {
                    client_id: '',
                    id: '',
                    id_for_drugtest:'',
                    total: 0,
                    amount: 0,
                    change: 0,
                    selectedTest:{},
                    selectedPromo:{},
                    clientName: '',
                    clientAddress: '',
                    clientNo: '',
                    queue:''
                },
            }
        },
        methods: {
            async loadQueue() {
                //await this.queue();
                this.getArchivedClient();
                await this.getTransaction();
                if(this.form.id !== '') {
                    this.loadSelectedTests(this.form.id);
                    this.loadSelectedPromos(this.form.id);
                }
            },

            getClient(id) {
                return axios.get(`/api/clientDetail/${id}`)
                .then(data => {
                    this.form.id = data.data.id;
                    this.form.total = data.data.total;
                    this.form.client_id = data.data.client_id;
                    this.form.id_for_drugtest = data.data.id_for_drugtest;
                    this.loadClient(data.data.client_id);
                });
            },

            async processArchive(id) {
                this.$refs.archivedClient.close();
                await this.getClient(id);
                this.loadSelectedTests(this.form.id);
                this.loadSelectedPromos(this.form.id);
            },

            // queue() {

            //     return axios.get('api/getQueue/1')
            //     .then( data => {
            //         this.queue_no = data.data.cashier_queue; 
            //     });
            
            // },

            getArchivedClient() {
                axios.get('/api/getArchivedClient')
                .then(data => {
                    this.archived = data.data
                });
            },

            archiveClient() {
                axios.get(`/api/archivedClient/${this.form.id}`)
                .then(data => {
                    this.loadQueue();
                    this.clearForm();
                });
            },

            getTransaction() {
                return axios.get(`/api/nextClient`)
                .then( data => {
                    if(Object.keys(data.data).length === 0) {
                        Swal.fire({
                            type: 'error',
                            title: 'no more clients left',
                        })
                        this.clearForm();
                    } else {
                        this.form.id = data.data[0].id;
                        this.form.total = data.data[0].total;
                        this.form.client_id = data.data[0].client_id;
                        this.form.id_for_drugtest = data.data[0].id_for_drugtest;
                        this.form.queue = data.data[0].queue;
                        this.loadClient(data.data[0].client_id);
                    }
                });
            },

            loadClient(id) {

                return axios.get(`/api/client/${id}`)
                .then( data => {
                    this.client = data.data;
                    this.form.clientName = data.data.first_name+' '+data.data.last_name;
                    this.form.clientAddress = data.data.address;
                    this.form.clientNo = data.data.contact_no;
                });

            },

            openTestModal() {
                
                this.$refs.testModal.open()
                
            },

            openPromoModal() {

                this.$refs.promoModal.open()

            },

            loadSelectedTests(id) {

                axios.get(`api/transactionTest/${id}`)
                .then( data => {
                    this.form.selectedTest = data.data;
                });

            },

            loadSelectedPromos(id) {

                axios.get(`api/transactionPromo/${id}`)
                .then( data => {
                    this.form.selectedPromo = data.data;
                });

            },

            clearForm() {
                this.form.id = '';
                this.form.total = '';
                this.form.client_id = '';
                this.form.id_for_drugtest = '';
                this.form.clientName = '';
                this.form.selectedTest = [];
                this.form.selectedPromo = [];
                this.form.amount = 0;
                this.form.total = 0;
                this.form.change = 0;
                this.client = [];
            },

            checkTests() {
                axios.post('/api/checkTest', this.form)
                .then( data => {
                    this.form.total = data.data[0];
                });
            },

            deleteTest(test, index) {
                this.form.selectedTest.splice(index, 1)
                this.checkTests();
            },

            addTest(test) {
                var includes = this.form.selectedTest.some(el => el.id === test.id);

                if(!includes) {
                    this.form.selectedTest.push({
                        id: test.id,
                        name: test.name,
                        price: test.price,
                    })
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Test Already Selected',
                    })
                }

                this.$refs.testModal.close();
                this.checkTests();
            },

            promoSelected(promo) {
                this.promoModal = promo;
                this.$refs.promoInclusion.open();
                axios.get(`/api/promoTest/${promo.id}`)
                .then( data => {
                    this.testIncluded = data.data;
                });
            },

            addPromo(promo) {
                var drugTestCheck = this.testIncluded.some(el => el.id === 1);
                if(drugTestCheck) {
                    this.drugTest = true;
                }
                var includes = this.form.selectedPromo.some(el => el.id === promo.id);
                if(!includes) {
                    this.form.selectedPromo.push({
                        id: promo.id,
                        name: promo.name,
                        price: promo.price,
                    })
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Promo Already Selected',
                    })
                }
                this.$refs.promoInclusion.close();
                this.checkTests();
            },

            deletePromo(promo, index) {
                this.form.selectedPromo.splice(index, 1)
                this.checkTests();
            },

            loadTests() {
                axios.get('/api/testForSelect')
                .then( data => {
                    this.tests = data.data;
                });
            },

            loadPromos() {
                axios.get('/api/promoForSelect')
                .then( data => {
                    this.promos = data.data;
                });
            },

            getTotal() {
                setTimeout(() => { 
                    axios.post('/api/cashier/total', this.form)
                    .then( data  => {
                        this.form.total = data.data;
                    });
                }, 1500);
            },

            async completePayment() {  
                if(this.form.amount < this.form.total) {
                    Swal.fire({
                        type: 'error',
                        title: 'please check amount',
                    })
                } else {
                    await this.savePayment();
                    this.loadQueue();
                    this.clearForm();
                }
            },

            savePayment() {
                return axios.put(`api/transaction/${this.form.id}`, this.form)
                .then( data => {
                    this.print(data.data.id);
                });
            },

            print(id) {
                window.open(`api/print-reciept/${id}`);
            },

            ringBell() {
                console.log('ringing');
                axios.get('api/ringBell/1')
                .then( () => {
                    Swal.fire({
                        title: 'The Bell Rings',
                    })
                });
            },

            renderChange: _.debounce(function (e) {
                    axios.get('/api/cashier/change/'+ this.form.total +'/'+ this.form.amount).then(data => {
                        this.form.change = data.data;
                    },
                    (error) => { handleError(error); }
                    )
                }, 300),

            toDashboard() {
                this.$router.push("/")
            },

            },

            created() {

                this.loadQueue();
                this.loadTests();
                this.loadPromos();

            },

            computed: {
                filteredUnsettled() {
                    return this.archived.filter(archive => {
                        return archive.client.last_name.toLowerCase().indexOf(this.searchUnsettled.toLowerCase()) > -1 ||
                                archive.client.first_name.toLowerCase().indexOf(this.searchUnsettled.toLowerCase()) > -1 ||
                                archive.queue.toString().indexOf(this.searchUnsettled) > -1
                    })
                },
            }
    }
</script>