
$primary: #016855;
$secondary: #63ffe2;
$link: $primary;
$semi-transparent-white: #ffffff33;

//modal
$modal-card-head-background-color: $primary;
$modal-card-title-color: white;
$modal-content-width: 840px;

@import '~bulma/bulma';
@import './components/topnav';
@import './components/sidebar';
@import './components/content';
@import './components/queue';
@import './components/modal';
@import './components/helpers';
@import './components/datatable';
@import './components/form';
@import './components/button';
@import './components/cards';

body {
height:100%;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.sweet-title {
    background-color: #147a2f6e;
    color: $primary;
    font-size: 30px;
}
