
.menu-view {
    min-width: 500px;
    display: block;
    .column {
        .is-right, .is-left{
            .menu-button-large {
                width: 50%;
                height: 220px;
                transition: color 0.5s;
                i {
                    font-size: 100px;
                }
            } 
            .menu-button-small {
                width: 50%;
                height: 90px;
                transition: color 0.5s;
                i {
                    font-size: 50px;
                }
                p {
                    font-size: 10px;
                    font-weight: bold;
                }
            } 
            &:hover {
                a, p {
                    color: $primary;
                }
                a {
                    border: 1px solid $primary;
                }
            }
        }
        
    }
}

.client-btn {
    button {
        height: 250px;
        width: 300px;
        display: inline;

    }

    i {
        font-size: 5rem;
    }

}