.tile.is-ancestor {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;

    .is-child {
      max-height: 140px;
      padding-top: 5px;
      background-color: $primary;
      color: #fff;

      .card-title {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #ddd;
      }
    }
}

  
.box .dashboard-box {
    min-height: 80px;
    padding: 2rem;
    box-shadow: 0px 1px 1px 2px rgba(77, 77, 77, 0.1);
    background-color: $primary;
    overflow: hidden;
  
    svg {
      height: 100px;
      width: 100%;
      margin-left: -90px;
      margin-top: -50px;
    }
  
    #comment {
      margin-left: -80px;
      margin-top: -60px;
    }
  
    svg,
    path {
      fill: $text;
  
      &:hover {
        fill: $text;
      }
    }
}

.chart-box {
  padding: 20px;
  box-shadow: 0px 1px 1px 2px rgba(77, 77, 77, 0.1);
  border-radius: 5px;
}

  