#main-content {
    background-color: $semi-transparent-white;
    margin-top: 20px;   
    padding: 20px;
    min-height: 530px;
    border: 1px solid $primary;

    .content-header {
        font-weight: bold;
        font-size: 25px;
        background-color: $primary;
        padding: 5px 20px 5px 0;
        border-bottom-left-radius:0px;
        border-bottom-right-radius: 0px;
        color: white;

        .is-pulled-left {
            a {
                font-weight: normal;
                color: white;
                
                &:hover {
                    font-weight: bold;
                    color: white;
                }
            }
        }
    }
    
    .content-body {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        min-height: 440px;
    }
}

#login-box {
    border-radius: 5px;
    input {
        color: $primary;
        font-size: 20px;
        font-weight: bold;
        &:focus {
            border: 1px solid $primary;
        }
    }

    .columns {
        margin-top: -50px;
    }

    .header-box {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        p {
            font-weight: bold;
            color: $primary;
            font-size: 31px;
        }
    }

    .form-box {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

.test-result-title {
    font-weight: 800;
    color: $primary;
}

.test-result-subtext {
    color: rgb(241, 30, 30);
    font-size: 10px;
}

.test-result-signatories {
    color: rgb(241, 30, 30);
    margin-bottom: 10px;
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.705);
}

.table-for-view {
    border: $primary;
    width: 100%;
    table-layout: fixed;
    thead {
        color: $primary;
        width: 100%;
        tr {
            height: 50px;
            td {
                border: 1px solid $primary;
                vertical-align: middle;
                text-align: center;
                font-size: 15px;
            }
        }
    }
    tbody {
        tr:nth-child(odd) {
            background-color: #7ba9ee4f
        }
        tr {
            td {
                padding: 3px;
                border: 1px solid $primary;
            }
            &:hover {
                background-color: $primary;
                color: white;
                td {
                    border: 1px solid white;
                    input{
                        color:white;
                    }
                }
            }
        }
    }
}

.cell-input {
    border: none;
    width: 100%;
    font-weight: bold;
    color: #4a4a4a;
    background-color: transparent;
    &::focus{
        background-color: transparent;
        outline: none;
    }
}