.table {
    thead {
        background-color: #147a2f6e;
    }
    .select-test-body {
        tr {
            color: $primary;
            &:hover {
                background-color: $primary;
                td {
                    color: white;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                .button {
                    border: none;
                    color: $primary;
                    &:active {
                        border: none;
                    }
                    &:hover {
                        border: none;
                    }
                }
            }
        }
    }
}

.simple-table {
    width: 100%;
    thead {
        border-bottom: #4a4a4aa2 solid 3px;
        background-color: #147a2f6e;
        tr {
            td {
                padding: 3px;
                font-weight: bold;
                font-size: 17px;
            }
        }
    }
    tbody {
        tr {
            td {
                font-weight: 600;
                padding: 2px;
                font-size: 20px;
                margin-left: 10px;
                font-size: 15px;
                vertical-align: center;
                .button {
                    height: 25px;
                    width: 25px;
                    font-size: 12px;
                }
            }
            &:nth-child(even) {
                background-color: #147a2f1f;
            }
        }
    }
}