.form {
    .field {
        label {
            color:$primary;
            font-size: 12px;
        }

        input, option, select {
            border: none;
            border-radius: 0 !important;
            border-bottom: 1px solid $primary;
            font-weight: bold;
            color: $primary;
            box-shadow: none;
            font-size: 16px;
            &::placeholder {
                color: #147a2f6e;
                font-weight: bold;
            }
        }
    }
}

.is-vertical-rule {
    border-right: 4px solid #ddd;
}