.topqueue {

    background-color: $primary;
}

#queue-content {
    margin-top: 5px;

    .title {
        color: $primary;
    }
}

.bg-queue {
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 $primary, 0 6px 20px 0 $primary;
}

#bg-promotion {
    background-color: black;
    height: 380px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 $primary, 0 6px 20px 0 $primary;
}

.queue-number {
    font-size: 9.5rem;
    font-weight: bold;
    color: white;
}