#sidebar {
    background-color: $semi-transparent-white;
    padding: 20px;
    margin-top: 20px;   
    border: 1px solid $primary;
    nav {
        .panel-heading {
            background: $primary;
            font-weight: bold;
            color: white;
        }

        .panel-block {
            font-weight: bold;
            color: $primary;
            background-color: #ffffff85;
            transition: margin-left 0.3s;
            &:hover {
                margin-left: 10px;
                background-color: $primary;
                color: white;
                i {
                    color: white;
                }
            }
            i {
                color: $primary;
            }
        }

        .router-link-exact-active {
            border-left: 5px solid $primary;
            border-bottom: 4px solid $primary;
        }
    }
}