.topnav {
    background-color: $primary;
    a {
        font-weight: bold;
        float: left;
        display: block;
        background-color: #f2f2f2;
        text-align: center;
        padding: 20px 15px 5px 15px;
        text-decoration: none;
        font-size: 15px;
        span {
          i {
            font-size: 15px;
          }
        }
        &:hover {
            background-color: #ddd;
            color: black;
        }
        &:active {
            background-color: white;
            color: white;
        }
        i {
          font-size: 22px;
          color: $primary;
        }    
    }
}
  #ico{
    display: none;
  }
   
  .menu{
    background: #000;
    display: none;
    padding: 5px;
    width: 320px;
   
    a{
      display: block;
      color: #fff;
      text-align: center;
      padding: 10px 2px;
      margin: 3px 0;
      text-decoration: none;
      background: #444;
   
      &:nth-child(1){
        margin-top: 0;
      }
      &:nth-child(5){
        margin-bottom: 0;
      }
   
      &:hover{
        background: #555;
      }
    }
  }