<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>App Client</p>
            </div>
            <div class="is-pulled-left">
                <a @click="toDashboard()" class="is-size-6 p-l-10">Dashboard /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">App Client</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <button class="button is-primary is-pulled-left has-text-weight-bold" @click="openModal()"><i class="fas fa-user-plus">&nbsp;</i>Add client</button>
            <button class="button is-primary" @click="$refs.archiveClients.open()"><b>View Archived Clients</b></button>
            <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input v-model="form.search" class="input is-medium" type="text" v-on:keyup="searchMonitor()" placeholder="Search User">
                </div>
                <div class="control">
                    <a class="button is-link is-medium">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
            <br><br>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th v-for="(column, index) in columns" :key="index"> {{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="client in clients" :key="client.id">
                        <td><a @click="toTransactions(client.id)"><b>{{ client.last_name }}, {{ client.first_name }} {{ client.middle_name }}</b></a></td>
                        <td>{{ client.contact_no }}</td>
                        <td>{{ client.address }}</td>
                        <td class="is-pulled-right">
                            <button class="button" @click="editClient(client)">
                                <i class="fas fa-user-edit"></i>
                            </button>
                            <button class="button has-text-danger" @click="confirmDelete(client)">
                                <i class="fas fa-user-times"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadClients"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
        </div>
        <sweet-modal ref="archiveClients" title="Archived Clients">
            <table class="table no-border is-fullwidth">
                <thead>
                    <tr>
                        <td><b>Full Name</b></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="archive in archives" :key="archive.id">
                        <td><b>{{archive.last_name}}, {{archive.first_name}}</b></td>
                        <td>
                            <a class="primary button" @click="revertArchive(archive.id)">Set to Active Client</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </sweet-modal>

        <sweet-modal ref="modal" title="Client Form">
            
            <div class="container form">
                <form @submit.prevent="editMode ? updateClient() : saveClient()">
                    <div class="field">
                        <label class="label">First Name:</label>
                        <input v-model="form.first_name" placeholder="e.g William" type="text" name="first_name" id="first_name"
                            class="input">
                    </div>
                    <div class="field">
                        <label class="label">Middle Name:</label>
                        <input v-model="form.middle_name" placeholder="e.g Henry" type="text" name="middle_name" id="middle_name"
                            class="input">
                    </div>
                    <div class="field">
                        <label class="label">Last Name:</label>
                        <input v-model="form.last_name" placeholder="e.g William" type="text" name="last_name" id="last_name"
                            class="input">
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field" style="max-width: 180px;">
                                <p class="control">
                                    <label class="label is-size-6">Birth Date:</label>
                                        <input v-model="form.birth_date" placeholder="e.g Gates1234" type="date" name="birth_date" id="birth_date"
                                        class="input">
                                </p>
                            </div>
                            <div class="field">
                                <p class="control is-expanded">
                                    <label class="label is-size-6">Gender:</label>
                                    <select name="gender" v-model="form.gender" id="gender" class="input">
                                        <option value="1">Male</option>
                                        <option value="0">Female</option>
                                    </select>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control is-expanded">
                                    <label class="label is-size-6">Contact Number:</label>
                                    <input v-model="form.contact_no" placeholder="e.g 09090909099" type="text" name="contact_no" id="contact_no"
                                    class="input">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Address:</label>
                        <input v-model="form.address" placeholder="Enter Full Address" type="text" name="address" id="address"
                            class="input">
                    </div>
                    <div class="field is-pulled-right">
                        <button type="submit" class="button is-primary is-normal is-outlined">Submit</button>
                    </div>
                </form>
            </div>
        </sweet-modal>
        <sweet-modal ref="nestedChild" icon="error" blocking overlay-theme="dark" modal-theme="dark">
            Please Check Fields
        </sweet-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                columns:[
                    'Full Name',
                    'Contact No.',
                    'Address',
                    ''
                ],
                pageCount: 1,
                endpoint: 'api/client?page=',
                clients:{},
                archives:{},
                admin:'',
                password:'',
                editMode: false,
                page: 1,
                form:{
                    id:'',
                    first_name:'',
                    middle_name:'',
                    last_name:'',
                    birth_date:'',
                    gender:'',
                    contact_no:'',
                    address:'',
                    search:'',
                },
            }
        },
        methods: {
            revertArchive(id){
                axios.put(`api/client/revertArchive/${id}`)
                .then(()=>{
                    this.loadClients();
                    this.loadArchives();
                })
            },

            loadArchives(){
                axios.get('api/client/archives/view')
                .then(data => {
                    console.log = data.data;
                    this.archives = data.data;
                })
            },

            searchMonitor(){
                if(this.form.search == '') {
                    this.loadClients();
                }else{ 
                    axios.get('api/client/search/'+this.form.search)
                    .then(({ data }) => (this.clients = data));
                }
            },

            openModal() {
                this.cleanForm();
                this.$refs.modal.open()
            },

            loadClients(page = 1) {
                axios.get(this.endpoint + page)
                    .then(({data}) => {
                        this.clients = data.data;
                        this.pageCount = data.last_page;
                    });
            },

            editClient(client) {
                this.editMode = true;
                this.form.id = client.id;
                this.form.first_name = client.first_name;
                this.form.middle_name = client.middle_name;
                this.form.last_name = client.last_name;
                this.form.birth_date = client.birth_date;
                this.form.gender = client.gender;
                this.form.contact_no = client.contact_no;
                this.form.address = client.address;
                this.$refs.modal.open();
            },

            confirmDelete(client) {
                Swal.fire({
                    title: 'Delete this Client?',
                    text: client.last_name+', '+client.first_name+' will be deleted',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.deleteClient(client.id);
                    }
                })
            },

            deleteClient(id) {
                axios.delete('/api/client/'+id)
                .then(()=>{
                    this.loadClients();
                    Swal.fire({
                        type: 'success',
                        title: 'Updated',
                        text: 'Client Deleted',
                    })
                    this.loadClients();
                })
                .catch(() => {
                  this.$refs.nestedChild.open()
                })
            },

            saveClient() {
                axios.post('/api/client', this.form)
                .then(()=>{
                    this.$refs.modal.close();
                    this.loadClients();
                    this.cleanForm();
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: '',
                    })
                })
                .catch(()=>{
                    this.$refs.nestedChild.open()
                })
            },

            updateClient() {
                axios.put('/api/client/'+this.form.id, this.form)
                .then(()=>{
                    this.$refs.modal.close();
                    this.loadClients();
                    this.cleanForm();
                    Swal.fire({
                        type: 'success',
                        title: 'Client Updated',
                        text: '',
                    })
                })
                .catch(() => {
                  this.$refs.nestedChild.open()
                })
            },
            toDashboard() {

                this.$router.push("/")

            },
            cleanForm() {
                this.form.id = '';
                this.form.first_name = '';
                this.form.middle_name = '';
                this.form.last_name = '';
                this.form.birth_date = '';
                this.form.gender = '';
                this.form.contact_no = '';
                this.form.address = '';
                this.editMode = false;
            },

            toTransactions(id) {
                this.$router.push(`/client/transactions/${id}`)
            }
        },
        created() {
            this.loadClients();
            this.loadArchives();
        }
    }
</script>