<template>
<div id="app">
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>Profile</p>
            </div>
            <div class="is-pulled-left">
                <a @click="toClient()" class="is-size-6 p-l-10">Clients /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Client Profile</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="label is-size-6">First Name:</label>
                            <input v-model="client.first_name" placeholder="e.g William" type="text" name="first_name" id="first_name"
                                class="input" required disabled>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="label is-size-6">Middle Name:</label>
                            <input v-model="client.middle_name" placeholder="e.g Henry" type="text" name="middle_name" id="middle_name"
                                class="input" required disabled>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="label is-size-6">Last Name:</label>
                            <input v-model="client.last_name" placeholder="e.g William" type="text" name="last_name" id="last_name"
                                class="input" required disabled>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field" style="max-width: 180px;">
                        <p class="control">
                            <label class="label is-size-6">Birth Date:</label>
                            <input v-model="client.birth_date" placeholder="e.g Gates1234" type="date" name="birth_date" id="birth_date"
                                class="input" required disabled>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="label is-size-6">Gender:</label>
                            <select name="gender" v-model="client.gender" id="gender" class="input" required disabled>
                                <option value="1">Male</option>
                                <option value="0">Female</option>
                            </select>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <label class="label is-size-6">Contact Number:</label>
                            <input v-model="client.contact_no" placeholder="e.g 09090909099" type="text" name="contact_no" id="contact_no"
                                class="input" required disabled>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label is-size-6">Address:</label>
                <input v-model="client.address" placeholder="Enter Full Address" type="text" name="address" id="address"
                    class="input" required disabled>
            </div>
            <hr>
            <!-- <div class="tabs is-centered is-boxed">
                <ul>
                    <li class="has-text-weight-bold is-size-4" v-bind:class="{'is-active' : transactionTable}">
                        <a @click="transactionTable = true, testTable = false">
                            <span>Past Transactions</span>
                        </a>
                    </li>
                    <li class="has-text-weight-bold is-size-4" v-bind:class="{'is-active' : testTable}">
                        <a @click="transactionTable = false, testTable = true">
                            <span>Test Results</span>
                        </a>
                    </li>
                </ul>
            </div>
            <table class="table is-fullwidth" v-show="transactionTable">
                <thead>
                    <tr>
                        <th v-for="(column, index) in columns" :key="index"> {{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="data in transactions" :key="data.id">
                        <td>{{data.created_at}}</td>
                        <td>{{data.transaction_id}}</td>
                        <td>{{data.availed}}</td>
                        <td>&#8369; {{data.amount_paid}}</td>
                    </tr>
                </tbody>
            </table> -->
            <h4 class="title is-size-4 has-text-weight-bold">Past Test Result</h4>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th v-for="(column, index) in testColumns" :key="index"> {{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="data in results" :key="data.id" v-show="data.test_name !== 'Drug Test'">
                        <td>{{data.created_at}}</td>
                        <td>{{data.test_name}}</td>
                        <td><a @click="printTest(data.id)" class="button is-normal"><i class="fas fa-print"></i>&nbsp;Print</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                client: [],
                testTable: false,
                transactionTable: false,
                transactions: {},
                results: {},
                columns:[
                    'Date',
                    'Transaction_id',
                    'Availed',
                    'Amount Paid',
                ],
                testColumns:[
                    'Date & Time',
                    'Test Availed',
                    'Action'
                ]
            }
        },

        methods: {
            printTest(id) {
                window.open(`/api/printResult/${id}`);
            },

            loadClient() {
                return axios.get(`/api/client/${this.$route.params.id}`)
                .then( data => {
                    this.client = data.data;
                });
            },

            getAge(date) {
                var stringDate = String(date).split('-');
                var date = new Date(stringDate[0], stringDate[1], stringDate[2]);
                var ageDifMs = Date.now() - date.getTime();
                var ageDate = new Date(ageDifMs); // miliseconds from epoch
                return Math.abs(ageDate.getUTCFullYear() - 1970);
            },

            toClient() {
                this.$router.push('/client')
            },

            loadTransactions() {
                axios.get(`/api/client/transactions/${this.$route.params.id}`)
                .then(data => {
                    this.transactions = data.data;
                })
            },

            loadResults() {
                axios.get(`/api/client/results/${this.$route.params.id}`)
                .then(data => {
                    this.results = data.data;
                })
            },

            async initialLoad() {
                this.loadClient();
                this.loadTransactions();
                this.loadResults();
            }
        },

        created() {
            this.initialLoad();
        }
    }
</script>
