<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>Unsettled Transactions</p>
            </div>
            <div class="is-pulled-left">
                <a @click="toDashboard()" class="is-size-6 p-l-10">Dashboard /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Unsettled Transactions</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body">
            <div class="columns">
                <div class="column is-vertical-rule">
                    <a class="button is-small is-fullwidth is-primary is-size-5" @click="saveTransaction()"><b>Process Client</b></a>
                    <br>
                    <div class="card" style="width: 100%;max-height:200px; overflow:auto;">
                        <table class="table is-fullwidth">
                            <thead>
                                <tr>
                                    <th v-for="(column, index) in column" :key="index"> {{column}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="data in archives" :key="data.id" v-show="data.test_name !== 'Drug Test'">
                                    <td class="has-text-weight-bold has-text-primary">{{data.queue}}</td>
                                    <td class="has-text-weight-bold has-text-primary">{{data.client.last_name}}, {{data.client.first_name}}</td>
                                    <td class="has-text-right"><a @click="getTransaction(data.id)" class="button is-normal"><i class="fas fa-print"></i>&nbsp;Process Payment</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><br><br><br><br>
                    <br>
                </div>
                <div class="column is-6">
                    <div class="form">
                        <div class="field">
                            <label class="label is-size-5">Client Name:</label>
                            <div class="control">
                                <b class="is-size-4">{{ client.last_name }}, {{ client.first_name }}</b>
                            </div>
                        </div>
                    </div>
                    <br>
                    <nav class="panel">
                        <div class="panel-heading has-background-primary is-paddingless p-b-5 p-t-5">
                            <b class="has-text-white is-size-5 m-t-15 m-l-5">Test To Perform</b>
                            <br>
                        </div>
                        <div class="box is-primary" style="min-height: 300px">
                            <div class="panel-block" v-for="test in form.performTest" :key="test.id">
                                <div class="is-pulled-left">
                                    <p class="is-pulled-left has-text-weight-bold is-size-4">{{ test.name }}</p>
                                </div>
                                <br>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                display_number:0,
                queue_no:0,
                archives: {},
                column: [
                    'queue no.',
                    'Name',
                    '',
                ],
                client:[],
                promos:[],
                form: {
                    client_id: '',
                    id: '',
                    performTest: [],
                    is_archived: [],
                },
            }
        },
        methods: {
            loadArchived() {
                axios.get('/api/medTechArchive')
                .then(data => {
                    this.archives = data.data;
                })
            },

            getTransaction(id) {
                return axios.get(`/api/archivedTransaction/${id}`)
                .then( data => {
                    this.form.id = data.data.id;
                    this.form.total = data.data.total;
                    this.form.client_id = data.data.client_id;
                    this.form.id_for_drugtest = data.data.id_for_drugtest;
                    this.form.is_archived = data.data.is_archived;
                    this.loadClient(data.data.client_id);
                    this.loadAllAvails(data.data.id);
                });
            },

            loadClient(id) {
                return axios.get(`/api/client/${id}`)
                .then( data => {
                    this.client = data.data;
                });
            },

            loadAllAvails(id) {
                this.loadSelectedTests(id);
                this.loadSelectedPromos(id);
            },

            loadSelectedTests(id) {
                return axios.get(`/api/transactionTest/${id}`)
                .then( data => {
                    for (let [key, value] of Object.entries(data.data)) {
                        var includes = this.form.performTest.some(el => el.id === value.id);
                        if(!includes) {
                            this.form.performTest.push({
                                id: value.id,
                                name: value.name
                            });
                        }
                    }
                });
            },

            loadSelectedPromos(id) {
                return axios.get(`/api/transactionPromo/${id}`)
                .then( data => {
                    for (let [key, value] of Object.entries(data.data)) {
                        this.getTestIncluded(value.id)
                    }
                });
            },

            saveTransaction() {
                axios.put(`/api/testToPerform/${this.form.id}`, this.form)
                .then( () => {
                    this.clearForm();
                    this.loadArchived();
                });
            },

            clearForm() {
                this.client = [];
                this.form.performTest = [];
                this.form.client_id = 'none';
            },

        },

        created() {
            this.loadArchived();
        }
    }
</script>