<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>Medtech</p>
            </div>
            <div class="is-pulled-left">
                <a @click="toDashboard()" class="is-size-6 p-l-10">Dashboard /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Medtech</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body">
            <div class="columns">
                
                <div class="column is-vertical-rule">
                    <div class="card" style="width: 70%;">
                        <div class="card-content has-text-centered">
                            no. <b class="title is-size-1">{{ display_number }}</b>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                            <span>
                                <a @click="ringBell()" style="font-size: 18px;"><i class="fas fa-bullhorn"></i>&nbsp;<b>Call Client</b></a>
                            </span>
                            </p>
                            <p class="card-footer-item">
                            <span>
                                <a @click="nextClient()"  v-show="this.form.client_id !== 'none'" style="font-size: 17px;"><b>Next Client</b></a>
                            </span>
                            </p>
                        </footer>
                    </div><br><br><br><br>
                    <br>
                    <div class="notification is-danger" v-show="form.is_archived === 1">
                        <strong>This client did not paid yet, advised to move to archive this transaction to continue to the next client</strong>
                    </div>
                    <a v-show="this.form.client_id === 'none' && this.queue_no !== 0" class="button is-fullwidth is-primary" @click="reload()"><b class="is-size-4">Reload &nbsp;<i class="fas fa-redo-alt"></i></b></a>
                    <br>
                    <a v-show="this.queue_no === 0" class="button is-fullwidth is-primary" @click="start()"><b class="is-size-4">Start Queue &nbsp;</b></a>
                </div>
                <div class="column is-6">
                    <div class="form">
                        <div class="field">
                            <label class="label is-size-5">Client Name:</label>
                            <div class="control">
                                <b class="is-size-4">{{ client.last_name }}, {{ client.first_name }}</b>
                            </div>
                        </div>
                    </div>
                    <br>
                    <nav class="panel">
                        <div class="panel-heading has-background-primary is-paddingless p-t-5 p-b-5">
                            <b class="has-text-white is-size-5 m-t-15 m-l-5">Test To Perform</b>
                            <br>
                        </div>
                        <div class="box is-primary" style="min-height: 300px;">
                            <button @click="doneItems()" class="button is-primary has-text-weight-bold">{{doneItem ? 'Undone' : 'Done'}}</button><br><br>
                            <div class="panel-block" v-for="test in form.performTest" :key="test.id" style="display: flex; justify-content: space-between;">
                                <div>
                                    <p class="has-text-weight-bold is-size-4">{{ test.name }}</p>
                                </div>
                                &nbsp;&nbsp;
                                <div>
                                    <i class="fas fa-check has-text-primary is-size-5" v-show="doneItem"></i>
                                </div>
                                <br>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                display_number:0,
                queue_no:0,
                client:[],
                promos:[],
                doneItem: false,
                form: {
                    client_id: '',
                    id: '',
                    progress:'',
                    performTest: [],
                    is_archived: [],
                },
            }
        },
        methods: {
            doneItems() {
                if(this.doneItem) {
                    this.doneItem = false;
                } else {
                    this.doneItem = true;
                }
            },

            clearForm() {
                this.client = [];
                this.promos = [];
                this.form.client_id = 'none';
                this.form.progress;
                this.doneItem = false;
            },

            reload() {
                this.loadQueue();
            },

            async loadQueue() {
                await this.queue();
                await this.getTransaction();
                await this.checkClient();
            },

            checkClient() {
                if(this.form.client_id !== 'none') {
                    axios.put(`api/incrementCurrentNumber/${this.queue_no}`);
                }
            },

            loadAllAvails(id) {
                this.loadSelectedTests(id);
                this.loadSelectedPromos(id);
            },

            getTestIncluded(id) {
                axios.get(`/api/promoTest/${id}`)
                .then( data => {
                    for (let [key, value] of Object.entries(data.data)) {
                        var includes = this.form.performTest.some(el => el.id === value.id);
                        if(!includes) {
                            this.form.performTest.push({
                                id: value.id,
                                name: value.name
                            });
                        }
                    }
                });
            },

            loadSelectedTests(id) {
                return axios.get(`api/transactionTest/${id}`)
                .then( data => {
                    for (let [key, value] of Object.entries(data.data)) {
                        var includes = this.form.performTest.some(el => el.id === value.id);
                        if(!includes) {
                            this.form.performTest.push({
                                id: value.id,
                                name: value.name
                            });
                        }
                    }
                });
            },

            loadSelectedPromos(id) {
                return axios.get(`api/transactionPromo/${id}`)
                .then( data => {
                    for (let [key, value] of Object.entries(data.data)) {
                        this.getTestIncluded(value.id)
                    }
                });
            },

            queue() {
                return axios.get('api/getQueue/1')
                .then( data => {
                    this.queue_no = data.data.medtech_queue;
                    this.display_number = data.data.current_queue; 
                });
            },

            getTransaction() {
                return axios.get(`api/currentTransactionMedTech/${this.queue_no}`)
                .then( data => {
                    if(Object.keys(data.data).length === 0 && this.queue_no !== 0) {
                        this.clearForm();
                        Swal.fire({
                            title: 'there is no more clients',
                            text: "Reload now?",
                            type: 'info',
                            showCancelButton: true,
                            confirmButtonColor: '#0080FF',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, Reload',
                            cancelButtonText: 'Reload Later',
                        }).then((result) => {
                        if (result.value) {
                            this.reload();
                        }
                        })
                    } else {
                        this.display_number = this.queue_no;
                        this.form.id = data.data.id;
                        this.form.total = data.data.total;
                        this.form.client_id = data.data.client_id;
                        this.form.id_for_drugtest = data.data.id_for_drugtest;
                        this.form.is_archived = data.data.is_archived;
                        this.form.progress = data.data.progress;
                        this.loadClient(data.data.client_id);
                        this.loadAllAvails(data.data.id);
                    }
                });
            },

            loadClient(id) {
                return axios.get(`/api/client/${id}`)
                .then( data => {
                    this.doneItem = false;
                    this.client = data.data;
                });
            },

            nextClient() {
                if(this.form.is_archived === 1 || this.form.progress === 1) {
                    axios.get('api/incMedtechQueue')
                    .then( () => {
                        Swal.fire({
                            type: 'info',
                            title: 'Client is Unsettled',
                            text: 'you can check in <b>UNSETTLED TRANSACTION TAB</b> if the client paid'
                        })
                       this.loadQueue(); 
                    });
                    this.doneItem = false;
                } else {
                    axios.put(`api/testToPerform/${this.form.id}`, this.form)
                    .then( () => {
                        this.loadQueue();
                    });
                }
            },

            ringBell() {
                axios.get('api/ringBell/1')
            },
            
            toDashboard() {
                this.$router.push("/")
            },

            start() {
                Swal.fire({
                    title: 'Start Queue?',
                    text: "",
                    type: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#0080FF',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Start',
                    cancelButtonText: 'No',
                }).then((result) => {
                if (result.value) {
                    axios.get('api/startMedtechQueue')
                    .then( () => {
                        this.loadQueue();
                    });
                }
                })
            }
        },

        created() {
            this.loadQueue();
        }
    }
</script>