<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-left">
                <span class="is-size-6 has-text-white has-text-weight-normal p-l-10">Dashboard /</span>
                <a @click="back()" class="is-size-6">Utilities /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Promo Creation and Modification</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <h1 class="title has-text-primary has-text-weight-bold">Promo Creation and Modification</h1>
            <h4 class="title has-text-primary has-text-weight-bold">List of Available test</h4>
            <div>
                <button class="button is-primary is-pulled-left has-text-weight-bold" @click="openCreateModal()"><i class="fas fa-boxes">&nbsp;</i>Add Promo</button>
            </div>
            <br><br>
            <hr>
            <div class="columns">
                <div class="column is-3" v-for="promo in promos" :key="promo.id">
                    <div class="card">
                        <header class="card-header has-text-right">
                            <span class="tag is-danger m-t-3 m-l-3 m-b-3" v-show="!promo.status"><b>Not-Available</b></span>
                            <span class="tag is-primary m-t-3 m-l-3 m-b-3" v-show="promo.status"><b>Available</b></span>
                        </header>
                        <div class="card-content" style="padding: 10px;">
                            <p class="title">
                                <a @click="viewPromo(promo)">{{ promo.name }}</a>
                            </p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                            <span>
                                Price <p class="has-text-weight-bold has-text-primary">&#8369; {{ promo.price.toLocaleString() }}</p>
                            </span>
                            </p>
                            <p class="card-footer-item">
                            <span>
                                Tests: <a @click="textInclusion(promo.id)">Click Here</a>
                            </span>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
            <br>
            <div class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadPromos"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
            <div class="is-clearfix"></div>
            <a class="button is-link is-pulled-left" @click="back()"><i class="fas fa-backward"></i>&nbsp;Back</a>
            <div class="is-clearfix"></div>
        </div>
        <sweet-modal ref="createModal" title="Promo Form" width="50%">
            <div class="container form">
                <form @submit.prevent="edit? updatePromo() : savePromo()">
                    <div class="field">
                        <label class="label">Promo Name:</label>
                        <input 
                            v-model="promoForm.name"
                            placeholder="e.g Special Offer" 
                            type="text" 
                            name="description" 
                            id="name" 
                            class="input"
                        >
                    </div>
                    <div class="field">
                        <label class="label">Price:</label>
                        <input 
                            v-model="promoForm.price"
                            placeholder="e.g 1000" 
                            type="number" 
                            name="price" 
                            id="price" 
                            class="input"
                        >
                    </div>
                    <div class="field" v-show="edit">
                        <label class="label">Status:</label>
                        <select v-model="promoForm.status">
                            <option value="0">Archived</option>
                            <option value="1">Available</option>
                        </select>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="label">Select Test to add in Promo Package:</label>
                            <div class="select is-fullwidth">
                                <select v-model="selectedTest">
                                    <option v-for="(test, index) in availableTest" :key="index" :value="test">{{ test.name }}</option>
                                </select>
                            </div>
                            <br><br>
                            <a class="button is-primary is-pulled-right" @click="filterTest()">
                                Add Test to Package
                            </a>
                            <br><br>
                        </div>
                    </div>
                    <div class="box">
                        <b>Selected Test:</b><br><br>
                        <div class="box has-text-centered is-paddingless p-t-10 p-b-10" v-for="(test, index) in promoForm.tests" :key="index">
                            <p class="buttons is-pulled-right m-r-5">
                                <a class="button is-small is-danger" style="border-radius: 10%" @click="deleteTest(index)">
                                    <span class="icon is-small">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </a>
                            </p>
                            <p class="has-text-weight-bold has-text-primary">
                                {{ test.name }}
                            </p>
                        </div>
                    </div>
                    <button class="button is-primary is-fullwidth">
                       <b>Save</b>
                    </button>
                </form>
            </div>
        </sweet-modal>
        <sweet-modal ref="testsModal" title="Test Included in Promo" width="50%">
            <div class="container form">
                <div class="box">
                    <div class="box has-text-centered is-paddingless p-t-10 p-b-10" v-for="(viewTest, index) in promoForm.tests" :key="index">
                        <p class="has-text-weight-bold has-text-primary">
                            {{ viewTest.name }}
                        </p>
                    </div>
                </div>
            </div>
        </sweet-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                edit: false,
                testIncluded:{},
                availableTest:{},
                selectedTest:[],
                pageCount: 1,
                page: 1,
                promos:{},
                name:'',
                endpoint: '/api/promo?page=',
                promoForm: {
                    id: '',
                    name: '',
                    price: '',
                    status: '',
                    tests:[],
                }
            }
        },
        methods: {
            deleteTest(index) {
                this.promoForm.tests.splice(index, 1)
            },

            getTestInclusion(id) {
                axios.get(`/api/promoTest/${id}`)
                .then( data => {
                    this.promoForm.tests = data.data;
                });
            },

            textInclusion(id) {
                this.getTestInclusion(id);
                this.$refs.testsModal.open();
            },

            viewPromo(promo) {
                this.getTestInclusion(promo.id);
                this.promoForm.id = promo.id;
                this.promoForm.name = promo.name;
                this.promoForm.price = promo.price;
                this.promoForm.status = promo.status;
                this.edit = true;
                this.$refs.createModal.open()
            },

            back() {
                this.$router.push("/utility");
            },

            cleanForm() {
                this.promoForm.id = '';
                this.promoForm.name = '';
                this.promoForm.price = '';
                this.promoForm.status = '';
                this.promoForm.tests = [];
                this.edit = false;
            },
            
            openCreateModal() {
                this.cleanForm();
                this.$refs.createModal.open()
            },

            loadPromos(page = 1) {
                axios.get(this.endpoint + page)
                .then(({data}) => {
                    this.promos = data.data;
                    this.pageCount = data.last_page;
                });
            },

            addTestToForm() {
                var name = this.selectedTest.name;
                var id = this.selectedTest.id;
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, Add Test!'
                    }).then((result) => {
                    if (result.value) {
                        this.addTestToSave(name, id)
                    }
                });
                this.selectedTest = [];
            },

            filterTest(){
                if(this.selectedTest.length === 0) {
                    Swal.fire({
                        type: 'error',
                        title: 'Please Select Test'
                    })
                } else {
                    var includes = this.promoForm.tests.some(el => el.id === this.selectedTest.id);
                    if(!includes) {
                        this.promoForm.tests.push({
                            id: this.selectedTest.id,
                            name: this.selectedTest.name
                        });
                    } else {
                        Swal.fire({
                            type: 'error',
                            title: 'Test Already Selected',
                        })
                    }
                }
            },

            getTest() {
                axios.get('/api/getAvailableTest')
                .then( data => {
                    this.availableTest = data.data;
                });
            },

            savePromo() {
                axios.post('/api/promo', this.promoForm)
                .then(() =>{
                    Swal.fire({
                        type: 'success',
                        title: 'Promo Registered',
                    })
                });
                this.$refs.createModal.close();
                this.loadPromos();
            },

            updatePromo() {
                axios.put(`/api/promo/${this.promoForm.id}`, this.promoForm)
                .then(() => {
                    Swal.fire({
                        type: 'Success',
                        title: 'Promo Updated',
                    });
                    this.$refs.createModal.close();
                    this.loadPromos();
                });
            }
        },
        created() {
            this.loadPromos();
            this.getTest();
        }
    }
</script>