<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-left">
                <span class="is-size-6 has-text-white has-text-weight-normal p-l-10">Dashboard /</span>
                <a @click="back()" class="is-size-6">Utilities /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Laboratory Signatories</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <h1 class="title has-text-primary has-text-weight-bold">Laboratory Signatories</h1>
            <br><br>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th v-for="(column, index) in columns" :key="index"> {{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="signatory in signatories" :key="signatory.id">
                        <td><b>{{ signatory.name }}</b></td>
                        <td>{{ signatory.job_description }}</td>
                        <td class="is-pulled-right">
                            <button class="button" @click="editSignatory(signatory)">
                                <i class="fas fa-user-edit"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="is-clearfix"></div>
            <a class="button is-link is-pulled-left" @click="back()"><i class="fas fa-backward"></i>&nbsp;Back</a>
            <div class="is-clearfix"></div>
        </div>
        <sweet-modal ref="modal" title="Update Signatories Form">
            
            <div class="container form">
                <form @submit.prevent="updateSignatory()">
                    <div class="field">
                        <label class="label">Name:</label>
                        <input v-model="form.name" placeholder="e.g William" type="text" name="name" id="name"
                            class="input">
                    </div>
                    <div class="field">
                        <label class="label">Job Description:</label>
                        <input v-model="form.job_description" placeholder="e.g Henry" type="text" name="job_description" id="job_description"
                            class="input">
                    </div>
                    <div class="field is-pulled-right">
                        <button type="submit" class="button is-primary is-normal is-outlined">Submit</button>
                    </div>
                </form>
            </div>
        </sweet-modal>
        <sweet-modal ref="nestedChild" icon="error" blocking overlay-theme="dark" modal-theme="dark">
            Please Check Fields
        </sweet-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                columns:[
                    'Name',
                    'Job Desccription',
                    ''
                ],
                signatories:{},
                form:{
                    id:'',
                    name:'',
                    job_description:'',
                },

            }
        },
        methods: {
            editSignatory(signatory) {
                this.form.id = signatory.id;
                this.form.name = signatory.name;
                this.form.job_description = signatory.job_description;
                this.$refs.modal.open();
            },

            updateSignatory() {
                axios.put('/api/signatories/'+this.form.id, this.form)
                .then(()=>{
                    this.$refs.modal.close();
                    this.loadSignatories();
                    this.cleanForm();
                    Swal.fire({
                        type: 'success',
                        title: 'Signatory Updated',
                        text: '',
                    })
                })
                .catch(() => {
                  this.$refs.nestedChild.open()
                })
            },
            loadSignatories() {
                axios.get('/api/signatories')
                    .then(data => {
                        console.log(data);
                        this.signatories = data.data;
                    });
            },

            cleanForm() {
                this.form.id = '';
                this.form.name = '';
                this.form.job_description = '';
            },

            back() {
                this.$router.push("/utility");
            },
        },
        created() {
            this.loadSignatories();
        }
    }
</script>