<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
        <p>Dashboard</p>
        </div>
        <div class="box dashboard-box is-marginless content-body">
            <div class="content is-fullheight">
                <div class="tile is-ancestor">
                        <div class="tile is-parent">
                        <article class="tile is-child box">
                            <div class="is-centered">
                            <p class="is-size-5 m-b-20 is-bolder has-text-white-bis card-title">
                                <i class="fa fa-users"></i> Clients
                            </p>
                            <p class="is-size-3 is-thicker is-blue">{{ totalClient }}</p>
                            </div>
                        </article>
                        </div>
                        <div class="tile is-parent">
                        <article class="tile is-child box">
                            <div class="is-centered">
                            <p class="is-size-5 m-b-20 is-bolder has-text-white-bis card-title">
                               <i class="fas fa-list-ol"></i> Transactions
                            </p>
                            <p class="is-size-3 is-thicker is-blue">{{ totalTransaction }}</p>
                            </div>
                        </article>
                        </div>
                        <div class="tile is-parent">
                        <article class="tile is-child box">
                            <div class="is-centered">
                            <p class="is-size-5 m-b-20 is-bolder has-text-white-bis card-title">
                               <span class="has-text-weight-bold">&#8369;</span> Total Sales 
                               <select v-model="selectTotalSales" style="float: right; margin-top: 6px;">
                                    <option value="week">This Week</option>
                                    <option value="month">This Month</option>
                                    <option value="year" selected>12 Months</option>
                                </select>
                            </p>
                            <p class="is-size-3 is-thicker is-blue"><span>&#8369;</span> {{ renderTotalSales() }}</p>
                            </div>
                        </article>
                        </div>
                    </div>
        </div>
        <div class="columns">
            <div class="column is-half">
                <div class="chart-box">
                    <fusioncharts
                    :type="type"
                    :width="width"
                    :height="height"
                    :dataFormat="dataFormat"
                    :dataSource="dataSource"
                    ></fusioncharts>
                </div>
            </div>
            <div class="column">
                <div class="chart-box">
                    <!-- <div id="chartContainer2" style="height: 300px; width: 100%;"></div> -->
                    <fusioncharts
                    :type="type2"
                    :width="width2"
                    :height="height2"
                    :dataFormat="dataFormat2"
                    :dataSource="dataSource2"
                    ></fusioncharts>
                </div>
            </div>
        </div>
        <div class="chart-box">
            <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input class="input" placeholder="Search User">
                </div>
                <div class="control">
                    <a class="button is-link">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
            <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th v-for="(column, index) in columns" :key="index"> {{column}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                        </tr>
                        <tr>
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                        </tr>
                        <tr>
                            <td>data</td>
                            <td>data</td>
                            <td>data</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                columns:[
                    'Column Name',
                    'Column Name',
                    'Column Name',
                ],
                totalClient: '',
                totalTransaction: '',
                totalSales: '',
                totalWeeklySales: '',
                totalMonthlySales: '',
                totalYearlySales: '',
                selectTotalSales: '',
                weeklys:{},
                monthlys:{},
                form: {
                    lines: [
                    ],
                    monthlines: [

                    ]
                },
                width: '100%',
                height: '400',
                type: 'area2d',
                dataFormat: 'json',
                dataSource:{
                "chart": {
                "theme": "fusion",
                "caption": "Total Sales",
                "subCaption": "This week",
                "xAxisName": "Day",
                "yAxisName": "Sales (In Peso)",
                "numberPrefix": "₱",
                },

                "data": [
                ]
            },
                width2: '100%',
                height2: '400',
                type2: 'area2d',
                dataFormat2: 'json',
                dataSource2:{
                "chart": {
                "theme": "fusion",
                "caption": "Total Sales",
                "subCaption": "This Year",
                "xAxisName": "Month",
                "yAxisName": "Sales (In Peso)",
                "numberPrefix": "₱",
                },

                "data": [
                ]
            }

        }
    },
        methods: {
            
            countUser() {
                axios.get('/api/getUserCount')
                    .then(data => {

                        this.totalClient = data.data;
                    });
            },

            countTansaction() {
                axios.get('/api/getTransactionCount')
                    .then(data => {

                        this.totalTransaction = data.data;
                    });
            },

            getTotalSales() {
                let dummyData = 0;

                axios.get('/api/getTotalSales')
                    .then(data => {

                        dummyData = data.data;

                        this.totalSales = dummyData.toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")

                    });
            },

            getWeeklyTotalSales() {
                let dummyData = 0;

                axios.get('/api/getWeeklySales')
                    .then(data => {

                        dummyData = data.data;

                        this.totalWeeklySales = dummyData.toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")

                    });
            },

            getMonthlyTotalSales() {
                let dummyData = 0;

                axios.get('/api/getMonthlySales')
                    .then(data => {

                        dummyData = data.data;

                        this.totalMonthlySales = dummyData.toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")

                    });
            },

            getYearlyTotalSales() {
                let dummyData = 0;

                axios.get('/api/getYearlySales')
                    .then(data=> {

                        dummyData = data.data;

                        this.totalYearlySales = dummyData.toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")

                    });
            },

            getDaily() {
                let dummyData = 0;

                axios.get('/api/getOneWeekSales')
                    .then((data)  => {

                        this.weeklys = data.data;
                        // console.log(data.data);
                        // console.log(this.weeklys.Sat)


                        this.form.lines.push({
                            label: 'Mon',
                            value: !this.weeklys.Mon ? "0" : this.weeklys.Mon.toString(),
                        })


                        this.form.lines.push({
                            label: 'Tue',
                            value: !this.weeklys.Tue ? "0" : this.weeklys.Tue.toString(),
                        })

                        this.form.lines.push({
                            label: 'Wed',
                            value: !this.weeklys.Wed ? "0" : this.weeklys.Wed.toString(),
                        })

                        this.form.lines.push({
                            label: 'Thu',
                            value: !this.weeklys.Thu ? "0" : this.weeklys.Thu.toString(),
                        })

                        this.form.lines.push({
                            label: 'Fri',
                            value: !this.weeklys.Fri ? "0" : this.weeklys.Fri.toString(),
                        })

                        this.form.lines.push({
                            label: 'Sat',
                            value: !this.weeklys.Sat ? "0" : this.weeklys.Sat.toString(),
                        })

                        this.form.lines.push({
                            label: 'Sun',
                            value: !this.weeklys.Sun ? "0" : this.weeklys.Sun.toString(),
                        })


                    });

                    this.dataSource.data = this.form.lines;
            },

            getMonthly() {
                let dummyData = 0;

                axios.get('/api/getEveryMonth')
                    .then((data)  => {
                        this.monthlys = data.data;
                        // console.log(data.data);
                        // console.log(data);

                        this.form.monthlines.push({
                            label: 'Jan',
                            value: !this.monthlys.Jan ? "0" : this.monthlys.Jan.toString(),
                        })

                        this.form.monthlines.push({
                            label: 'Feb',
                            value: !this.monthlys.Feb ? "0" : this.monthlys.Feb.toString(),
                        })

                        this.form.monthlines.push({
                            label: 'Mar',
                            value: !this.monthlys.Mar ? "0" : this.monthlys.Mar.toString(),
                        })

                        this.form.monthlines.push({
                            label: 'Apr',
                            value: !this.monthlys.Apr ? "0" : this.monthlys.Apr.toString(),
                        })

                        this.form.monthlines.push({
                            label: 'May',
                            value: !this.monthlys.May ? "0" : this.monthlys.May.toString(),
                        })

                        this.form.monthlines.push({
                            label: 'Jun',
                            value: !this.monthlys.Jun ? "0" : this.monthlys.Jun.toString(),
                        })

                        this.form.monthlines.push({
                            label: 'Jul',
                            value: !this.monthlys.Jul ? "0" : this.monthlys.Jul.toString(),
                        })

                        this.form.monthlines.push({
                            label: 'Aug',
                            value: !this.monthlys.Aug ? "0" : this.monthlys.Aug.toString(),
                        })

                        this.form.monthlines.push({
                            label: 'Sep',
                            value: !this.monthlys.Sep ? "0" : this.monthlys.Sep.toString(),
                        })

                        this.form.monthlines.push({
                            label: 'Oct',
                            value: !this.monthlys.Oct ? "0" : this.monthlys.Oct.toString(),
                        })

                        this.form.monthlines.push({
                            label: 'Nov',
                            value: !this.monthlys.Nov ? "0" : this.monthlys.Nov.toString(),
                        })

                        this.form.monthlines.push({
                            label: 'Dec',
                            value: !this.monthlys.Dec ? "0" : this.monthlys.Dec.toString(),
                        })

                        });
                    
                    this.dataSource2.data = this.form.monthlines;
            },

            renderTotalSales() {

                if (this.selectTotalSales == 'week') {
                    return this.totalWeeklySales;

                }else if (this.selectTotalSales == 'month') {
                    return this.totalMonthlySales;

                } else if (this.selectTotalSales == 'year') {
                    return this.totalYearlySales;

                }else {
                    return this.totalSales;
                }
                 
            },
        },
        created() {
            this.countUser();
            this.countTansaction();
            this.getTotalSales();
            this.getWeeklyTotalSales();
            this.getMonthlyTotalSales();
            this.getYearlyTotalSales();
            this.getDaily();
            this.getMonthly();
        }
}
</script>