<template>
    <div class="container has-text-left" style="width: 80%; margin-left: 100px; justify-content:center;">
        <p v-html="dataHtml"></p>
    </div>
</template>

<script>
    export default {
        props: {
            dataHtml: {
                type: String
            },
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
