<template>
<div id="app">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        methods: {
            getUserType() {
                axios.get('api/getCurrentUser')
                .then( data => {
                    this.redirectPage(data.data)
                });
            },

            redirectPage(user) {
                console.log(user);
                Swal.fire({
                    title: 'Welcome',
                    text: user.last_name+", "+user.first_name,
                })

                if(user.role === 'admin') {
                    this.$router.push("/result")
                }

                if(user.role === 'cashier') {
                    this.$router.push("/cashier")
                }

                if(user.role === 'medtech') {
                    this.$router.push("/medtech")
                }

                if(user.role === 'client') {
                    this.$router.push("/patient")
                }
            },

            resetQueue() {
                axios.get('api/resetQueue')
            }
        },
        created() {
            this.getUserType();
            this.resetQueue();
        }
    }
</script>