<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>Test Result</p>
            </div>
            <div class="is-pulled-left">
                <a @click="toDashboard()" class="is-size-6 p-l-10">Dashboard /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Test Result</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <div class="columns menu-view p-t-50">
                <div class="column is-6 is-vcentered has-text-centered">
                    <div class="is-left">
                        <a class="button menu-button-large" @click="toReceive()">
                        <i class="fas fa-copy"></i>
                        </a><br>
                        <p class="title">
                            Unclaimed
                        </p>
                    </div>
                </div>
                <div class="column is-vcentered has-text-centered">
                    <div class="is-right">
                        <a class="button menu-button-large" @click="toResult()">
                        <i class="fas fa-file-medical"></i>
                        </a><br>
                        <p class="title">
                            Result
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            toReceive() {
                this.$router.push("/test-result/receive");
            },

            toResult() {
                this.$router.push("/test-result/result");
            },

            toDashboard() {

                this.$router.push("/")

            },
        }
    }
</script>