<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>Result</p>
            </div>
            <div class="is-pulled-left">
                <a @click="toDashboard()" class="is-size-6 p-l-10">Dashboard /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Transactions</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input v-model="form.search" v-on:keyup="searchMonitor()" class="input is-medium" placeholder="Search Client">
                </div>
                <div class="control">
                    <a class="button is-link is-medium">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
            <br><br><br>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th v-for="(column, index) in columns" :key="index"> {{column}}</th>
                    </tr>
                </thead>
            </table>
            <table class="table is-fullwidth">
                <div class="is-fullwidth" style="height:320px; overflow:auto;">
                    <tbody>
                        <tr v-for="transaction in transactions" :key="transaction.id">
                            <td style="width: 30%">{{ transaction.id }}</td>
                            <td style="width: 30%">{{ transaction.client.last_name  }}, {{ transaction.client.first_name }}</td>
                            <td>{{ transaction.created_at }}</td>
                            <td>
                                <span v-show="transaction.progress === 1" class="tag is-success">Cashier</span>
                                <span v-show="transaction.progress === 2" class="tag is-link">Med-Tech</span>
                                <span v-show="transaction.progress === 3" class="tag is-warning">Laboratory</span>
                                <span v-show="transaction.progress === 4" class="tag is-info">Done</span>
                                <span v-show="transaction.progress === 5" class="tag is-primary">Claimed</span>
                            </td>
                            <td>
                                <a class="button modal-button" aria-haspopup="true" @click="viewModal(transaction)">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </div> 
            </table> 
        </div>

        <sweet-modal ref="viewModal">
            <div class="container">
                <div class="columns">
                    <div class="column is-6 has-text-left">
                        <code>Transaction Number: {{ transaction.id }}</code>
                    </div>
                    <div class="column is-6 has-text-primary has-text-right">
                        Date & Time: <b>{{ transaction.created_at }}</b>
                    </div>
                </div>
                <div class="has-text-left">
                    <b>Client</b><br>
                    <b class="has-text-primary has-text-centered is-size-4">
                        {{ transaction.client.last_name }}, {{ transaction.client.first_name }}
                    </b>
                </div>
                <div class="columns">
                    <div class="column is-6">
                        
                    </div>
                    <div class="column is-6">
                        
                    </div>
                </div>
            </div>
        </sweet-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                transaction: {
                    client:{
                        first_name:'',
                        last_name:''
                    }
                },
                transactions: {},
                columns:[
                    'Transaction Number',
                    'Client',
                    '',
                    'Date',
                    'Status',
                    ''
                ],
                form: {
                    search: '',
                }
            }
        },
        methods: {
            searchMonitor(){
                if(this.form.search == '') {
                    this.getTransactions();
                }else{ 
                    axios.get('api/transaction/search/'+this.form.search)
                    .then( data => (this.transactions = data.data));
                }
            },

            getTransactions() {
                axios.get('api/transaction')
                .then( data => {
                    this.transactions = data.data;
                });
            },
            
            toDashboard() {

                this.$router.push("/")

            },

            viewModal(transaction) {
                this.transaction = transaction;
                this.$refs.viewModal.open()
            },
        },
        created() {
            this.getTransactions();
        }
    }
</script>