<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>New Patient</p>
        </div>
        <div class="box is-marginless content-body">
            <div class="container form p-b-30">
                <form @submit.prevent="fieldChecker()">
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded">
                                    <label class="label is-size-6">First Name:</label>
                                    <input v-model="form.first_name" placeholder="e.g William" type="text" name="first_name" id="first_name"
                                        class="input" required>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control is-expanded">
                                    <label class="label is-size-6">Middle Name:</label>
                                    <input v-model="form.middle_name" placeholder="e.g Henry" type="text" name="middle_name" id="middle_name"
                                        class="input" required>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control is-expanded">
                                    <label class="label is-size-6">Last Name:</label>
                                    <input v-model="form.last_name" placeholder="e.g William" type="text" name="last_name" id="last_name"
                                        class="input" required>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field" style="max-width: 180px;">
                                <p class="control">
                                    <label class="label is-size-6">Birth Date:</label>
                                    <input v-model="form.birth_date" placeholder="e.g Gates1234" type="date" name="birth_date" id="birth_date"
                                        class="input" required>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control is-expanded">
                                    <label class="label is-size-6">Gender:</label>
                                    <select name="gender" v-model="form.gender" id="gender" class="input" required>
                                        <option value="1">Male</option>
                                        <option value="0">Female</option>
                                    </select>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control is-expanded">
                                    <label class="label is-size-6">Contact Number:</label>
                                    <input v-model="form.contact_no" placeholder="e.g 09090909099" type="text" name="contact_no" id="contact_no"
                                        class="input" required>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label is-size-6">Address:</label>
                        <input v-model="form.address" placeholder="Enter Full Address" type="text" name="address" id="address"
                            class="input" required>
                    </div>
                    <div class="field is-pulled-left m-t-10 m-l-20">
                        <button v-shortkey="['enter']" type="submit" class="button is-primary is-normal is-outlined">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</template>

<script>
    export default {
        data() {
            return {
                columns:[
                    'Full Name',
                    ''
                ],
                pageCount: 1,
                endpoint: 'api/client?page=',
                clients:{},
                admin:'',
                password:'',
                editMode: false,
                page: 1,
                form: {
                    id:'',
                    first_name:'',
                    middle_name:'',
                    last_name:'',
                    birth_date:'',
                    gender:'',
                    contact_no:'',
                    address:'',
                    search:'',
                },
            }
        },
        methods: {
            saveClient() {
                axios.post('/api/client/clientTransaction', this.form)
                .then( data =>{
                    this.cleanForm();
                    Swal.fire({
                        type: 'success',
                        text: 'You Can now Select Test',
                    })
                    this.$router.push(`/select/${data.data.id}`);
                })
                .catch(()=>{
                    this.$refs.nestedChild.open()
                })
            },

            back() {
                this.$router.push("/patient");
            },

            cleanForm() {
                this.form.id = '';
                this.form.first_name = '';
                this.form.middle_name = '';
                this.form.last_name = '';
                this.form.birth_date = '';
                this.form.gender = '';
                this.form.contact_no = '';
                this.form.address = '';
                this.editMode = false;
            },

            fieldChecker() {
                this.saveClient();

            },
        },
        created() {
            if (localStorage.getItem('reloaded')) {
                // The page was just reloaded. Clear the value from local storage
                // so that it will reload the next time this page is visited.
                localStorage.removeItem('reloaded');
            } else {
                // Set a flag so that we know not to reload the page twice.
                localStorage.setItem('reloaded', '20');
                location.reload();
            }
        }
    }
</script>