<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Clients</p>
        </div>
        <div class="box is-marginless content-body">
            <div class="is-pulled-left has-text-primary">
                <code><b>To select test</b></code><p><b>1.Search your account <br>2.Click the name<br>3.Confirm</b></p><br>
            </div>
            <div class="field has-addons is-pulled-right m-t-50">
                <div class="control">
                    <input v-model="form.search" class="input is-medium" type="text" v-on:keyup="searchMonitor()" placeholder="Search Client">
                </div>
                <div class="control">
                    <a class="button is-medium is-link">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
            <br><br>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th v-for="(column, index) in columns" :key="index"> {{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="client in clients" :key="client.id">
                        <td><b><a @click="selectTest(client.id)">{{ client.last_name }}, {{ client.first_name }} {{ client.middle_name }}</a></b></td>
                        <td><b>{{ client.birth_date }}</b></td>
                        <td><b>{{ client.gender ? 'Male':'Female' }}</b></td>
                        <td><b>{{ client.contact_no }}</b></td>
                        <td><b>{{ client.address }}</b></td>
                    </tr>
                </tbody>
            </table>
            <div class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadClients"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
            <div class="is-clearfix"></div>
            <div class="field is-pulled-left m-t-10">
                <button @click="back()" class="button is-danger is-normal">Back</button>
            </div>
            <div class="is-clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                columns:[
                    'Full Name',
                    'Birth Date',
                    'Gender',
                    'Contect Number',
                    'Address'
                ],
                pageCount: 1,
                endpoint: 'api/client?page=',
                clients:{},
                admin:'',
                password:'',
                editMode: false,
                page: 1,
                form: new Form({
                    id:'',
                    first_name:'',
                    middle_name:'',
                    last_name:'',
                    birth_date:'',
                    gender:'',
                    contact_no:'',
                    address:'',
                    search:'',
                }),
            }
        },
        methods: {
            searchMonitor(){
                if(this.form.search == '') {
                    this.clients = '';
                }else{ 
                    axios.get('api/client/search/'+this.form.search)
                    .then(({ data }) => (this.clients = data));
                }
            },

            openModal() {
                this.cleanForm();
                this.$refs.modal.open()
            },

            loadClients(page = 1) {
                axios.get(this.endpoint + page)
                    .then(({data}) => {
                        console.log(data);
                        this.clients = data.data;
                        this.pageCount = data.last_page;
                    });
            },

            cleanForm() {
                this.form.id = '';
                this.form.first_name = '';
                this.form.middle_name = '';
                this.form.last_name = '';
                this.form.birth_date = '';
                this.form.gender = '';
                this.form.contact_no = '';
                this.form.address = '';
                this.editMode = false;
            },
            
            back() {
                this.$router.push("/patient");
            },

            selectTest(id) {
                this.$router.push(`/select/${id}`);
            }
        },
        created() {
        }
    }
</script>