<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>Utilities</p>
            </div>
            <div class="is-pulled-left">
                <a @click="toDashboard()" class="is-size-6 p-l-10">Dashboard /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Utilities</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <div class="columns menu-view p-t-50 is-multiline">
                <div class="column is-3 is-vcentered has-text-centered">
                    <div class="is-left">
                        <a class="button menu-button-small" @click="toTest()">
                        <i class="fas fa-vial"></i>
                        </a><br>
                        <p class='has-text-weight-bold is-size-5'>
                            Test
                        </p>
                    </div>
                </div>
                <div class="column is-3 is-vcentered has-text-centered">
                    <div class="is-right">
                        <a class="button menu-button-small" @click="toPromo()">
                        <i class="fas fa-boxes"></i>
                        </a><br>
                        <p class='has-text-weight-bold is-size-5'>
                            Promo
                        </p>
                    </div>
                </div>
                <div class="column is-3 is-vcentered has-text-centered">
                    <div class="is-right">
                        <a class="button menu-button-small" @click="toVideo()">
                            <i class="fas fa-film"></i>
                        </a><br>
                        <p class='has-text-weight-bold is-size-5'>
                            Videos
                        </p>
                    </div>
                </div>
                <div class="column is-3 is-vcentered has-text-centered">
                    <div class="is-right">
                        <a class="button menu-button-small" @click="toSignatories()">
                            <i class="fas fa-file-signature"></i>
                        </a><br>
                        <p class='has-text-weight-bold is-size-5'>
                           Laboratory Signatories
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="columns">
                <div class="column is-6">
                    <b class="title has-text-primary">Queue Reset options:</b>
                </div>
                <div class="column">
                    <div class="field">
                        <select v-model="resetType" name="type" id="role" class="input has-text-primary has-text-weight-bold">
                            <option value="1">Auto</option>
                            <option value="0">Manual</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6">
                    <a v-show="showReset" @click="resetQueue()" class="button is-large is-fullwidth is-warning"><b><i class="fas fa-redo"></i>&nbsp;Reset</b></a>
                </div>
                <div class="column">
                    <a @click="updateSetting()" class="button is-large is-fullwidth is-primary"><b>Update Queue Setting</b></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                resetType: '',
                showReset:false,
            }
        },

        methods: {
            resetQueue() {
                axios.get('api/manualReset');
            },

            toPromo() {
                this.$router.push("/utility/promo");
            },

            toTest() {
                this.$router.push("/utility/test");
            },

            toVideo() {
                this.$router.push("/utility/video");
            },

            toSignatories() {
                this.$router.push("/utility/signatories");
            },

            queueSettings() {
                axios.get('api/getQueueSetting/1')
                .then(data => {
                    this.resetType = data.data;
                    if(data.data === 0) {
                        this.showReset = true;
                    }
                });
            },

            updateSetting() {
                axios.get(`/api/queueSet/${this.resetType}`)
                .then(data => {
                    this.resetType = data.data;
                    if(data.data === '0') {
                        this.showReset = true;
                    } else {
                        this.showReset = false;
                    }
                });
            },

            toDashboard() {

                this.$router.push("/")

            },
        }, 

        created() {
            this.queueSettings();
        }
    }
</script>