<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <button class="button is-success is-inverted is-outlined" @click="viewArchived()"><b>View Archived Test</b></button>
            </div>
            <div class="is-pulled-left">
                <span class="is-size-6 has-text-white has-text-weight-normal p-l-10">Dashboard /</span>
                <a @click="back()" class="is-size-6">Utilities /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Test Creation and Modification</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <h1 class="title has-text-primary has-text-weight-bold">Test Creation and Modification</h1>
            <h4 class="title has-text-primary has-text-weight-bold">List of Available test</h4>
            <div>
                <button class="button is-primary is-pulled-left has-text-weight-bold" @click="openModal()"><i class="fas fa-vials">&nbsp;</i>Add Test</button>
            </div>
            <br><br>
            <table class="simple-table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Price</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="test in tests" :key="test.id">
                        <td><a @click="viewTest(test)">{{ test.name }}</a></td>
                        <td>{{ test.description }}</td>
                        <td>&#8369; {{ test.price.toLocaleString() }}</td>
                        <td class="is-pulled-right">
                            <button class="button is-primary is-outlined" title="Edit Test Result Labels" @click="editLabels(test)">
                                <i class="fas fa-grip-lines"></i>
                            </button>
                            <button class="button is-primary is-outlined" title="Modify Test" @click="editTest(test)">
                                <i class="fas fa-cogs"></i>
                            </button>
                            <button class="button is-primary is-outlined" title="Archived Test" @click="archivedTest(test.id)">
                                <i class="fas fa-folder-minus"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="columns is-pulled-right">
                <div class="column is-6">
                    <paginate
                    :page-count="pageCount"
                    :click-handler="loadTests"
                    :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                    :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                    :container-class="'pagination'"
                    prev-class="button" 
                    next-class="button"  
                    page-link-class="button" 
                    active-class="button is-primary"
                    >
                    </paginate>
                </div>
            </div>
            <div class="is-clearfix"></div>
            <a class="button is-link is-pulled-left" @click="back()"><i class="fas fa-backward"></i>&nbsp;Back</a>
            <br><br>
            
        </div>
        <sweet-modal ref="createModal" title="Test" width="70%">
            <div class="container form">
                <form @submit.prevent="addTest()">
                    <div class="field">
                        <label class="label">Test Form:</label>
                        <input 
                            v-model="testForm.name"
                            placeholder="e.g X-RAY" 
                            type="text" 
                            name="name" 
                            id="name" 
                            class="input"
                        >
                    </div>
                    <div class="field">
                        <label class="label">Test Name:</label>
                        <input 
                            v-model="testForm.text_to_display"
                            placeholder="e.g X-RAY" 
                            type="text" 
                            name="text_to_display" 
                            id="name" 
                            class="input"
                        >
                    </div>
                    <div class="field">
                        <label class="label">Description:</label>
                        <input 
                            v-model="testForm.description"
                            placeholder="e.g useful in detecting abnormalities within the body" 
                            type="text" 
                            name="description" 
                            id="description" 
                            class="input"
                        >
                    </div>
                    <div class="field">
                        <label class="label">Price:</label>
                        <input 
                            v-model="testForm.price"
                            placeholder="e.g 1000" 
                            type="text" 
                            name="price" 
                            id="price" 
                            class="input"
                        >
                    </div>
                    <h1 class="title has-text-primary">Test Result Labels<br><code class="is-size-7">For saving data purposes</code></h1>
                    <table class="table no-border is-fullwidth">
                        <thead>
                            <tr>
                                <td><b>Label</b></td>
                                <td><b>Normal Value</b></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(label, index) in testForm.labels" :key="index">
                                <td>
                                    <div class="field">
                                        <input 
                                            v-model="label.label"
                                            placeholder="e.g Blood Pressure" 
                                            type="text" 
                                            name="price" 
                                            id="price" 
                                            class="input"
                                        >
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <input 
                                            v-model="label.normal_value"
                                            placeholder="e.g (120/80)" 
                                            type="text" 
                                            name="price" 
                                            id="price" 
                                            class="input"
                                        >
                                    </div>
                                </td>
                                <td>
                                    <a class="has-text-danger" @click="deleteLine(index)"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="button is-pulled-right is-warning is-normal" @click="addNewLine()"><b class="has-text-black">Add Label</b></a>
                    <br><br><br>
                    <div class="field">
                        <button type="submit" class="button is-primary is-normal is-outlined is-fullwidth">Save Test</button>
                    </div>
                </form>
            </div>
        </sweet-modal>

        <sweet-modal ref="editTestModal" title="Modify Test">
            <div class="container form">
                <form @submit.prevent="updateTest()">
                    <div class="field">
                        <label class="label">Test Name:</label>
                        <input 
                            v-model="testForm.name"
                            placeholder="e.g X-RAY" 
                            type="text" 
                            name="name" 
                            id="name" 
                            class="input"
                        >
                    </div>
                    <div class="field">
                        <label class="label">Text to Display:</label>
                        <input 
                            v-model="testForm.text_to_display"
                            placeholder="e.g X-RAY" 
                            type="text" 
                            name="name" 
                            id="name" 
                            class="input"
                        >
                    </div>
                    <div class="field">
                        <label class="label">Description:</label>
                        <input 
                            v-model="testForm.description"
                            placeholder="e.g useful in detecting abnormalities within the body" 
                            type="text" 
                            name="description" 
                            id="description" 
                            class="input"
                        >
                    </div>
                    <div class="field">
                        <label class="label">Price:</label>
                        <input 
                            v-model="testForm.price"
                            placeholder="e.g 1000" 
                            type="text" 
                            name="price" 
                            id="price" 
                            class="input"
                        >
                    </div>
                    <br>
                    <div class="field">
                        <button type="submit" class="button is-primary is-normal is-outlined is-fullwidth">Update Test</button>
                    </div>
                </form>
            </div>
        </sweet-modal>

        <sweet-modal ref="labelsTableModal" title="Labels table">
            Test: <h1 class="has-text-primary title">{{ labelsTableTitle }}</h1>
            <table class="table no-border is-fullwidth">
                <thead>
                    <tr>
                        <td><b>Label</b></td>
                        <td><b>Normal Value</b></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="label in labels" :key="label.id">
                        <td>{{ label.label }}</td>
                        <td>{{ label.normal_value }}</td>
                        <td>
                            <a class="has-text-danger" @click="deleteLabel(label)"><i class="fas fa-trash"></i></a>
                            <a class="has-text-info" @click="editLabel(label)"><i class="fas fa-cogs"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <button class="button is-primary is-pulled-right" @click="addLabel()">Add Label</button>
        </sweet-modal>

        <sweet-modal ref="archiveTableModal" title="Archived Tests" width="60%">
            <table class="table no-border is-fullwidth">
                <thead>
                    <tr>
                        <td><b>Name</b></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="archive in archived" :key="archive.id">
                        <td>{{ archive.name }}</td>
                        <td>
                            <a class="primary button" @click="switchTest(archive.id)">Set to Available</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </sweet-modal>

        <sweet-modal ref="labelFormChild">
            <div class="container form">
                <form @submit.prevent="editMode ? updateLabel() : saveLabel()">
                    <div class="field">
                        <label for=""><b>Label:</b></label>
                        <input 
                            v-model="label.label"
                            placeholder="e.g Blood Pressure" 
                            type="text" 
                            name="price" 
                            id="price" 
                            class="input"
                        >
                    </div>
                    <div class="field">
                        <label for=""><b>Normal Value:</b></label>
                        <input 
                            v-model="label.normal_value"
                            placeholder="e.g Blood Pressure" 
                            type="text" 
                            name="price" 
                            id="price" 
                            class="input"
                        >
                    </div>
                    <button type="submit" class="button is-primary is-normal is-outlined">Submit</button>
                </form>
            </div>
        </sweet-modal>

        <sweet-modal ref="nestedChild" icon="error" blocking overlay-theme="dark" modal-theme="dark">
            Opps something went wrong... <br>
            <code>(if this message always prompting, contact developer)</code>
        </sweet-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                labelsTableTitle: '',
                editMode: false,
                archived:{},
                tests: {},
                labels: {},
                test_id: '',
                pageCount: 1,
                page: 1,
                endpoint: '/api/test?page=',
                label: {
                    id: '',
                    test_id: '',
                    label: '',
                    normal_value: ''
                },
                testForm: {
                    id: '',
                    name: '',
                    text_to_display: '',
                    description:'',
                    price: '',
                    availability:'',
                    labels: [
                        {
                            label: '',
                            normal_value: ''
                        }
                    ],
                }
            }
        },
        methods: {
            back() {
                this.$router.push("/utility");
            },

            addLabel() {
                this.$refs.labelFormChild.open();
                this.editMode = false;
            },
            
            cleanForm() {
                this.testForm.id = '';
                this.testForm.name = '';
                this.testForm.text_to_display = '';
                this.testForm.description = '';
                this.testForm.price = '';
                this.testForm.availability = '';
                this.testForm.labels = [
                    {
                        label: '',
                        normal_value: ''
                    }
                ];
                this.editMode = false;
            },

            openModal() {
                this.cleanForm();
                this.$refs.createModal.open()
            },

            deleteLine(index) {
                this.testForm.labels.splice(index, 1)
            },

            addNewLine(){
                this.testForm.labels.push({
                    label: '',
                    normal_value: '',
                })
            },

            loadTests(page = 1) {
                axios.get(this.endpoint + page)
                .then(({data}) => {
                    this.tests = data.data;
                    this.pageCount = data.last_page;
                });
            },

            addTest() {
                axios.post('/api/test', this.testForm)
                .then( data =>{
                    this.$refs.createModal.close();
                    this.cleanForm();
                    this.loadTests();
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: '',
                    })
                })
                .catch(()=>{
                    this.$refs.nestedChild.open()
                })
            },

            editTest(test) {
                this.testForm.id = test.id;
                this.testForm.name = test.name;
                this.testForm.text_to_display = test.text_to_display;
                this.testForm.description = test.description;
                this.testForm.price = test.price;
                this.editMode = true;
                this.$refs.editTestModal.open();
            },

            updateTest() {
                axios.put('/api/test/'+this.testForm.id, this.testForm)
                .then(()=>{
                    this.$refs.editTestModal.close();
                    this.cleanForm();
                    this.loadTests();
                    Swal.fire({
                        type: 'success',
                        title: 'Test Modified',
                        text: '',
                    })
                })
                .catch(() => {
                  this.$refs.nestedChild.open()
                })
            },

            archivedTest(id) {
                if(id === 1) {
                    Swal.fire({
                            type: 'error',
                            title: `Drug Test Can't be Archived`,
                            text: 'but it can be modified',
                        })
                } else {
                    axios.put('/api/test/archive/'+id)
                    .then(()=>{
                        this.loadTests();
                        Swal.fire({
                            type: 'success',
                            title: 'Test Archived',
                            text: '',
                        })
                    })
                    .catch(() => {
                    this.$refs.nestedChild.open()
                    })
                }
            },

            switchTest(id) {
               axios.put('/api/test/activate/'+id)
                .then(()=>{
                    this.loadTests();
                    this.loadArchived();
                })
                .catch(() => {
                  this.$refs.nestedChild.open()
                }) 
            },

            loadArchived() {
                axios.get('/api/viewArchived')
                .then( data => {
                    this.archived = data.data;
                });
            },

            viewArchived() {
                this.loadArchived();
                this.$refs.archiveTableModal.open()
            },

            getLabels(id) {
                axios.get('/api/getTestLabels/'+id)
                .then( data => {
                    this.labels = data.data;
                });
            },

            editLabels(test) {
                this.editMode = false;
                this.label.test_id = test.id;
                this.labelsTableTitle = test.name;
                this.getLabels(test.id);
                this.$refs.labelsTableModal.open()
            },

            deleteLabel(label) {
                axios.delete('/api/label/'+label.id)
                .then(()=>{
                    this.getLabels(label.test_id);
                })
                .catch(() => {
                  this.$refs.nestedChild.open()
                })
            },
            
            clearLabelForm() {
                this.label.label = '';
                this.label.normal_value = '';
            },

            saveLabel() {
                axios.post('/api/label', this.label)
                .then( data =>{
                    this.getLabels(this.label.test_id);
                    this.clearLabelForm();
                    this.$refs.labelFormChild.close()
                })
                .catch(()=>{
                    this.$refs.nestedChild.open()
                })
            },

            editLabel(test) {
                this.label.id = test.id;
                this.label.test_id = test.test_id;
                this.label.label = test.label;
                this.label.normal_value = test.normal_value;
                this.editMode = true; 
                this.$refs.labelFormChild.open()
            },

            updateLabel() {
                axios.put('/api/label/'+this.label.id, this.label)
                .then(()=>{
                    this.getLabels(this.label.test_id);
                    this.editMode = false;
                    this.clearLabelForm();
                    this.$refs.labelFormChild.close()
                })
                .catch(() => {
                  this.$refs.nestedChild.open()
                })
            }
        },
        created() {
            this.loadTests();
        }
    }
</script>