<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-right">
                <p>Results</p>
            </div>
            <div class="is-pulled-left">
                <span class="is-size-6 has-text-white has-text-weight-normal p-l-10">Dashboard /</span>
                <a @click="back()" class="is-size-6">Test Result /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Results</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <div class="field has-addons is-pulled-right">
                <div class="control">
                    <input v-model="form.search" class="input is-medium" type="text" v-on:keyup="searchMonitor()" placeholder="Search Name or Queue #">
                </div>
                <div class="control">
                    <a class="button is-link is-medium">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
            <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th v-for="(column, index) in columns" :key="index"> {{column}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='result in results' :key='result.id'  v-show="result.progress !== 2">
                            <td>{{result.id}}</td>
                            <td><a @click="viewTests(result.id, result.id_for_drugtest, result.id_type)" class="has-text-primary has-text-weight-bold">{{result.client.last_name}}, {{result.client.first_name}}</a></td>
                            <td><span class="tag is-info">{{result.progress === 3 ? 'Waiting For Result': 'Done'}}</span></td>
                            <td>
                                <p v-show="result.status === 'claimed'" class="buttons has-text-centered">
                                    <a class="button is-small">
                                        <span class="icon is-small is-primary">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </a>
                                </p>
                            </td>
                            <td>
                                <a @click="openSms(result.client)" class="button modal-button" data-target="#myModal" aria-haspopup="true" v-show="result.status !== 'claimed'">
                                    <i class="fas fa-sms"></i>
                                </a>
                                <a @click="claim(result.id)" class="button is-small is-primary has-text-white is-pulled-right">
                                    {{result.status === 'claimed' ?  'Undo Claim Mark' : 'Mark as Claimed'}}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="columns is-pulled-right">
                    <div class="column is-6">
                        <paginate
                        :page-count="pageCount"
                        :click-handler="loadResults"
                        :prev-text="`<i class='fas fa-angle-left'></i><b> Prev</b>`"
                        :next-text="`<b>Next </b><i class='fas fa-angle-right'></i>`"
                        :container-class="'pagination'"
                        prev-class="button" 
                        next-class="button"  
                        page-link-class="button" 
                        active-class="button is-primary"
                        >
                        </paginate>
                    </div>
                </div>
            <a class="button is-link is-pulled-left" @click="back()"><i class="fas fa-backward"></i>&nbsp;Back</a>
            <div class="is-clearfix"></div>
        </div>
        <sweet-modal ref="testModal" title="Availed Test">
            <div class="container form">
                <b>Legend:</b>
                <p><i class="fas fa-circle has-text-primary"></i> Done <i class="fas fa-circle has-text-danger"></i> Incomplete</p>
                <div class="box">
                    <div v-for="test in tests" :key="test.id">
                        <b class="has-text-primary" v-show="test.test_name === 'Drug Test'">ID for Drug Test: <a class="has-text-weight-bold is-size-4">{{drugTest_id}}</a></b>
                        <p v-show="test.test_name === 'Drug Test'">({{id_type}})</p>
                        <button @click="getResults(test)" class="button is-fullwidth is-paddingless m-t-10 m-b-10" v-bind:class="[ test.is_done === 1 || test.test_name === 'Drug Test' ? 'is-primary' : 'is-danger' ]" :disabled="test.test_name === 'Drug Test'">
                            <p class="has-text-weight-bold has-text-white">
                                {{ test.test_name }}
                            </p>
                        </button>
                    </div>
                </div>
            </div>
        </sweet-modal>
        <sweet-modal ref="resultModal">
            <div class="container form">
                <table class="table-for-view m-b-15">
                    <thead> 
                        <tr class="has-text-centered">
                            <td><b></b></td>
                            <td><b>Result</b></td>
                            <td><b>Normal Value</b></td>
                        </tr>
                    </thead>
                    <tbody style="font-size: 15px" class="has-text-weight-bold">
                        <tr v-for="result in form.results" :key="result.id">
                            <td>{{result.label}}</td>
                            <td><input type="text" class="cell-input" v-model="result.result"></td>
                            <td>{{result.normal_value}}</td>
                        </tr>
                    </tbody>
                </table>
                <a class="button is-primary is-fullwidth" @click="saveResult()">Save</a>
                <br>
                <a class="button is-primary is-fullwidth" @click="print()">Print</a>
            </div>
        </sweet-modal>
        <sweet-modal ref="xrayModal">
            <div class="container form">
                <b>Result:</b>
                <div class="select is-fullwidth">
                  <select v-model="xrayForm.label" @change="changeResult()">
                    <option disabled>Select Result</option>
                    <option value="Positive">Positive</option>
                    <option value="Negative">Negative</option>
                  </select>
                </div><br><br>
                <vue-editor v-model="xrayForm.result"></vue-editor><br>
                <a class="button is-primary is-fullwidth" @click="saveResultXray()">Save</a>
                <div v-if="!assignSignatory" class="column"><a class="button is-primary is-fullwidth" @click="assignSignatory = true">Print</a></div>
                <div v-if="assignSignatory">
                    <label class="label">Signatory</label>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label class="label">Name:</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <p class="control">
                            <input class="input" type="text" v-model="signatory.name">
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <label class="label">Position</label>
                      </div>
                      <div class="field-body">
                        <div class="field">
                          <p class="control">
                            <input class="input" type="text" v-model="signatory.position">
                          </p>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="columns">
                        <div class="column"><a class="button is-primary is-fullwidth" @click="printXray()">Continue</a></div>
                        <div class="column"><a class="button is-primary is-fullwidth" @click="assignSignatory = false">Cancel</a></div>
                    </div>
                </div>
            </div>
        </sweet-modal>
        <sweet-modal ref="sms" title="Message">
            <div class="container form">
                <p>Hi {{ form.name }}, Your result has been successfully processed! Please claim it in Good Samaritan med tech window.</p>
                <br>
                <a class="button is-primary is-fullwidth" @click="sendSms()">Send</a>
            </div>
        </sweet-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                assignSignatory:false,
                id_type:'',
                avail_id:'',
                pageCount: 1,
                endpoint: '/api/getResults?page=',
                results:{},
                drugTest_id:'',
                page: 1,
                negativeText: "<p>The lungs are clear</p><p>The heart is not enlarged.</p><p>Both hemidiaphragms and sinuses are intact.</p><p><br></p><h3>IMPRESSION:</h3><h3>~NEGATIVE CHEST X-RAY</h3>",
                tests:{},
                columns:[
                    'Transaction #',
                    'Client',
                    'Status',
                    'Claimed',
                    ''
                ],
                form: {
                    id: '',
                    name: '',
                    results:{},
                    search:'',
                },
                signatory: {
                    name:'',
                    position:'',
                },
                xrayForm: {
                    id:'',
                    result: '',
                    label: '',
                }
            }
        },
        methods: {
            changeResult(){
                if(this.xrayForm.label === 'Negative') {
                    this.xrayForm.result = this.negativeText;
                } else {
                    this.xrayForm.result = '';
                }
            },
            searchMonitor(){
                if(this.form.search == '') {
                    this.loadResults();
                }else{ 
                    axios.get('api/transaction/search/'+this.form.search)
                    .then(({ data }) => (this.results = data));
                }
            },

            getResults(test) {
                if(test.test_name === 'X-Ray') {
                    this.avail_id = test.id;
                    axios.get(`/api/getAvailedResults/${test.id}`)
                    .then( data => {
                        console.log(data.data[0]);
                        this.xrayForm.id = data.data[0].id;
                        this.xrayForm.result = data.data[0].result;
                        this.xrayForm.label = data.data[0].label;
                    })
                    this.$refs.xrayModal.open()
                } else {
                    this.avail_id = test.id;
                    axios.get(`/api/getAvailedResults/${test.id}`)
                    .then( data => {
                        this.form.results = data.data
                    })
                    this.$refs.resultModal.open()
                }
            },

            saveResult() {
                axios.put(`/api/saveResult/${this.avail_id}`, this.form)
                .then( () => {
                    this.viewTests(this.transaction_id);
                    this.loadResults();
                    this.$refs.resultModal.close();
                })
            },

            saveResultXray() {
                axios.put(`/api/saveResultXray/${this.avail_id}`, this.xrayForm)
                .then( () => {
                    this.viewTests(this.transaction_id);
                    this.loadResults();
                    this.$refs.xrayModal.close();
                })
            },


            print() {
                window.open(`api/printResult/${this.avail_id}`);
            },

            printXray() {
                window.open(`api/printResultXray/${this.avail_id}/${this.signatory.name}/${this.signatory.position}`);
            },

            loadResults(page = 1) {
                axios.get(this.endpoint + page)
                .then(({data}) => {
                    this.results = data.data;
                    this.pageCount = data.last_page;
                });
            },

            openSms(client) {
                this.form.id = client.id;
                this.form.name = client.first_name+' '+client.middle_name+' '+client.last_name
                this.$refs.sms.open()

            },

            viewTests(id, id_drugtest, id_type) {
                this.drugTest_id = id_drugtest;
                this.id_type = id_type;
                this.transaction_id = id;
                axios.get(`/api/getAvails/${id}`)
                .then( data => {
                    this.tests = data.data;
                })
                this.$refs.testModal.open()
            },

            claim(id) {
                axios.get(`/api/claim/${id}`)
                .then(() => {
                    this.loadResults();
                })
            },

            sendSms() {
                axios.post('/api/sendSms', this.form)
                .then(()=>{
                    this.$refs.sms.close();
                    Swal.fire({
                        type: 'success',
                        title: 'SMS Send',
                        text: '',
                    })
                })
                .catch(()=>{
                    this.$refs.nestedChild.open()
                })
            },

            back() {
                this.$router.push("/test-result")
            },
        },
        created() {

            this.loadResults();

        }
    }
</script>