<template>
    <div class="container">
        <div class="box is-marginless content-body has-text-centered">
            <h3 style="font-size: 2rem;font-weight: 800;
    color: #147a30;line-height: 1.125;word-break: break-word;">GOOD SAMARITAN DIAGNOSTIC HUB</h3>
            <p class="subtitle test-result-subtext m-b-10">Panabo, Doctors Bldg, Quezon St, New Pandan, Panabo City</p>
            <p class="subtitle test-result-subtext m-b-10">Tel (084) 628-6743/09277799312</p>
            <p class="subtitle is-size-5 has-text-weight-bold test-result-subtext m-b-10">HEMATOLOGY</p>
            <div class="has-text-left">
                <div class="columns">
                    <div class="column">
                        <p class="subtitle test-result-subtext m-b-10">Name     <span class="p-l-26">: ___________________________________</span></p>
                    <p class="subtitle test-result-subtext m-b-10">Address  <span class="p-l-10">: ___________________________________</span></p>
                        <p class="subtitle test-result-subtext m-b-10">Case#    <span class="p-l-26">: _________</span></p>
                    </div>
                    <div class="column">
                        <p class="subtitle test-result-subtext m-b-10">Age/Sex   <span class="p-l-26">: _____________</span></p>
                        <p class="subtitle test-result-subtext m-b-10">Date      <span class="p-l-54">: _____________</span></p>
                    </div>
                </div>
            </div>
            <div class="has-text-left">
                <p class="subtitle is-size-5 has-text-weight-bold test-result-subtext m-b-10">HEMATOLOGY</p>
                <div class="columns is-multiline">
                    <div class="column is-3 p-b-0">
                        <p class="subtitle test-result-subtext m-b-10">Hemoglobin mass conc. </p>
                    </div>
                    <div class="column is-3 p-b-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0">
                        <p class="subtitle test-result-subtext m-b-10">(M: 130-170 F: 120-160 g/L)</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">Erythcrocytes no conc. </p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">(M: 5,5-6,5 F: 4,5-5,5)</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">Leucocyte no conc. </p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">(5,0-10,0 x 10/L)</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 p-l-10">Different count </p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 p-l-60">Segmenters</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">(0,55-0,65)</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 p-l-60">Stab</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">(0,01-0,06)</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 p-l-60">Juvenile</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">(0,00-0,01)</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 p-l-60">Lymphocytes</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">(0,25-0,35)</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 p-l-10">(MID) Eosinophils</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">(0,05-0,11)</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 p-l-60">Manocytes</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 p-l-60">Basophils</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">Thrombocyte no conc. </p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">(140-440)</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">Erythrocryte vol fraction </p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">(F-0,43-0,57 M-0,50-0,60)</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">BLOOD TYPE</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">Clotting time</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10">Bleeding time</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10 is-pulled-right">:</p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                        <p class="subtitle test-result-subtext m-b-10"><span>_________________________</span></p>
                    </div>
                    <div class="column is-3 p-b-0 p-t-0">
                    </div>
                </div>
            </div>
            <div class="has-text-left">
                <div class="columns">
                    <div class="column has-text-centered">
                        <p class="subtitle test-result-signatories has-text-weight-bold m-b-0">DR. JOHARI M. ANCHETA</p>
                        <p class="subtitle test-result-subtext m-b-10">Pathologist/Lic# 109186</p>
                    </div>
                    <div class="column has-text-centered">
                        <p class="subtitle test-result-signatories has-text-weight-bold m-b-0">HYACINTH MAE P. DAMOLO,RMT</p>
                        <p class="subtitle test-result-subtext m-b-10">Medical Technologist/Lic# 0070377</p>
                    </div>
                    <div class="column has-text-centered">
                        <p class="subtitle test-result-signatories has-text-weight-bold m-b-0">ARLEEN APAYO-FERRANCULLO,RMT</p>
                        <p class="subtitle test-result-subtext m-b-10">Medical Technologist/Lic# 0041721</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {

            back() {

                this.$router.push("/test-result")

            },
        }
    }
</script>