<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
        <p>Good Day Mr./Mrs. <u>{{ client.last_name }}, {{ client.first_name }}</u></p>
        </div>
        <div class="box is-marginless content-body" style="height: 600px">
            <div class="columns">
                <div class="column is-6 is-vertical-rule">
                    <p class="has-text-primary is-size-4 has-text-weight-bold">Select Test Here</p>
                    <div class="dropdown is-active is-primary" style="width: 100%">
                        <div class="dropdown-trigger" style="width: 100%">
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <input v-model="searchTest" class="input" type="text" placeholder="Search Test">
                                </div>
                                <div class="control">
                                    <a class="button is-primary">
                                        Search Test
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu" style="width: 100%; height:200px; overflow:auto;">
                            <div class="dropdown-content">
                                <!-- <a class="dropdown-item has-text-weight-bold is-size-5" v-for="(test, index) in tests" :key="index" @click="addTest(test, index)" >
                                    <b>{{ test.name }} - (P {{ test.price.toLocaleString() }}.00)</b>
                                </a> -->
                                <a style="border-bottom: 2px solid #ddd;" class="dropdown-item has-text-weight-bold is-size-5" v-for="(test, index) in filteredTest" :key="index" @click="addTest(test, index)" >
                                    <b>{{ test.text_to_display }} - (P {{ test.price.toLocaleString() }}.00)</b>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                    <p class="has-text-primary is-size-4 has-text-weight-bold" style="margin-top: 200px">Check Promo Package Here</p>
                    <div class="dropdown is-active is-primary" style="width: 100%">
                        <div class="dropdown-trigger" style="width: 100%">
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu" style="width: 100%; height:250px; overflow:auto;">
                            <div class="dropdown-content">
                                <a class="dropdown-item has-text-weight-bold is-size-5" v-for="(promo, index) in filteredPromo" :key="index" @click="promoSelected(promo, index)" >
                                    <b>{{ promo.name }} - (P {{ promo.price.toLocaleString() }}.00)</b>
                                </a>
                            </div>
                        </div>
                    </div>
                    <code>Note: Select a promo for more details</code>
                </div>
                <div class="column">
                    <div class="title is-pulled-right">
                        <b>Availed Test/Promo</b>
                    </div>
                    <br><br>
                    <div class="box">
                        <table class="table is-fullwidth" style="max-height: 400px; overflow-y:auto;">
                            <tbody>
                                <tr v-for="(test, index) in form.selectedTest" :key="index">
                                    <td><b class="is-size-4">{{ test.text_to_display }}</b></td>
                                    <td><b class="is-pulled-right is-size-4">&#8369; {{ test.price.toLocaleString() }}</b></td>
                                    <td>
                                        <a class="button has-text-danger is-outlined"  @click="deleteTest(test, index)">
                                            <span class="icon is-medium">
                                                <i class="fas fa-minus-square"></i>
                                            </span>
                                            <span class="is-size-5">
                                                    Remove
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr v-for="(promo, index) in form.selectedPromo" :key="index">
                                    <td><b>{{ promo.name }}</b></td>
                                    <td><b class="is-pulled-right">&#8369; {{ promo.price.toLocaleString() }}</b></td>
                                    <td>
                                        <p class="buttons" @click="deletePromo(promo, index)">
                                            <a class="button has-text-danger">
                                                <span class="icon is-small">
                                                    <i class="fas fa-minus-square"></i>
                                                </span>
                                            </a>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="notification is-primary" v-show="drugTest">
                        ID Type:
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="government" v-model="form.is_government" v-bind:value="true">
                                government
                            </label>
                            <label class="radio">
                                <input type="radio" name="government" v-model="form.is_government" v-bind:value="false">
                                others
                            </label>
                        </div>
                        <div class="control" v-show="form.is_government">
                            <hr>
                            <label class="radio">
                                <input type="radio" name="rsvp" v-model="form.id_type" v-bind:value="'Passport'">
                                Passport
                            </label>
                            <label class="radio">
                                <input type="radio" name="rsvp" v-model="form.id_type" v-bind:value="`Driver's License`">
                                Driver’s License
                            </label>
                            <label class="radio">
                                <input type="radio" name="rsvp" v-model="form.id_type" v-bind:value="'SSS UMID Card'">
                                SSS UMID Card
                            </label>
                            <label class="radio">
                                <input type="radio" name="rsvp" v-model="form.id_type" v-bind:value="'Philhealth ID'">
                                PhilHealth ID
                            </label>
                            <label class="radio m-l-0">
                                <input type="radio" name="rsvp" v-model="form.id_type" v-bind:value="'TIN Card'">
                                TIN Card
                            </label>
                            <label class="radio">
                                <input type="radio" name="rsvp" v-model="form.id_type" v-bind:value="'Postal ID'">
                                Postal ID
                            </label>
                            <label class="radio">
                                <input type="radio" name="rsvp" v-model="form.id_type" v-bind:value="`Voter's ID`">
                                Voter’s ID
                            </label>
                            <label class="radio">
                                <input type="radio" name="rsvp" v-model="form.id_type" v-bind:value="`PRC ID`">
                                PRC ID
                            </label>
                            <label class="radio m-l-0">
                                <input type="radio" name="rsvp" v-model="form.id_type" v-bind:value="`Senior Citizen ID`">
                                Senior Citizen ID
                            </label>
                            <label class="radio">
                                <input type="radio" name="rsvp" v-model="form.id_type" v-bind:value="`OFW ID`">
                                OFW ID
                            </label>
                        </div>
                    </div>
                    <div class="notification is-primary" v-show="drugTest">
                        <div class="field">
                            It seem you availed <strong>Drug Test</strong> or there is <strong>Drug Test</strong> in the <strong>Promo you selected</strong><br>
                            <u>Please add your id no. for claiming the result.</u>
                            <input 
                                v-model = "form.id_for_drugtest"
                                placeholder= "ID NUMBER" 
                                type= "text" 
                                name= "price" 
                                id= "price" 
                                class= "input"
                            >
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-4 is-size-4 is-pulled-left">
                            <b>TOTAL:</b>
                        </div>
                        <div class="column has-text-right is-pulled-right is-size-3 m-r-10">
                            <b>&#8369; {{ form.total.toLocaleString() }}</b>
                        </div>
                    </div>
                    <a v-shortkey="['enter']" @shortkey="submitAvailedTest()" class="button is-primary is-fullwidth" @click="submitAvailedTest()"><b>OK</b></a>
                </div>
            </div>
        </div>
        <sweet-modal ref="testModal" title="" width="40%">
            <div class="columns">
                <div class="column is-8 has-text-left">
                    <b>{{ testModal.name }}</b>
                </div>
                <div class="column">
                    Price: <b>&#8369; {{ testModal.price }}</b>
                </div>
            </div>
            <div class="columns">
                <div class="column has-text-left">
                    <label for="">Description:</label><br>
                    <b>{{ testModal.description }}</b>
                </div>
            </div>
            <button type="submit" class="button is-primary is-normal is-outlined" @click="addTest(testModal)"><b>Avail Test</b></button>
        </sweet-modal>

        <sweet-modal ref="promoModal" title="" width="40%">
            <div class="columns">
                <div class="column is-8 has-text-left">
                    <b>{{ promoModal.name }}</b>
                </div>
                <div class="column">
                    Price: <b>&#8369; {{ promoModal.price.toLocaleString() }}</b>
                </div>
            </div>
            <b>Test Included</b><br><br>
            <div class="box has-text-centered is-paddingless p-t-10 p-b-10" v-for="(testInclude, index) in testIncluded" :key="index">
                <p class="has-text-weight-bold has-text-primary">
                    {{ testInclude.name }}
                </p>
            </div>
            <button type="submit" class="button is-primary is-normal is-outlined" @click="addPromo(promoModal)"><b>Avail Promo</b></button>
        </sweet-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                drugTest: false,
                client:[],
                tests:[],
                promos:[],
                promoIndex:'',
                testModal: {},
                testIncluded:{},
                searchTest:'',
                searchPromo:'',
                promoModal: {
                    name:'',
                    description:'',
                    price:'',
                    tests:{},
                },
                form: {
                    is_government: false,
                    id_type:'',
                    client_id:'',
                    total:0,
                    id_for_drugtest:'',
                    selectedTest:[],
                    selectedPromo:[],
                }
            }
        },
        methods: {
            loadClient() {
                this.form.client_id = this.$route.params.id;
                axios.get(`/api/client/${this.$route.params.id}`)
                .then( data => {
                    this.client = data.data;
                });
            },
            loadTests() {
                axios.get('/api/testForSelect')
                .then( data => {
                    this.tests = data.data;
                });
            },
            loadPromo() {
                axios.get('/api/promoForSelect')
                .then( data => {
                    this.promos = data.data;
                });
            },
            testSelected(test) {
                this.testModal = test;
                this.$refs.testModal.open();
            },
            addTest(test, index) {
                var includes = this.form.selectedTest.some(el => el.id === test.id);
                if(!includes) {
                    this.form.selectedTest.push({
                        id: test.id,
                        name: test.name,
                        text_to_display: test.text_to_display,
                        price: test.price,
                    })
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Test Already Selected',
                    })
                }
                this.$refs.testModal.close();
                this.checkTests();
            },

            deleteTest(test, index) {
                this.form.selectedTest.splice(index, 1)
                this.checkTests();
            },

            checkTests() {
                axios.post('/api/checkTest', this.form)
                .then( data => {
                    this.form.total = data.data[0];
                    this.drugTest = data.data[1];
                });
            },
            promoSelected(promo, index) {
                this.promoModal = promo;
                this.$refs.promoModal.open();
                axios.get(`/api/promoTest/${promo.id}`)
                .then( data => {
                    this.testIncluded = data.data;
                });
                this.promoIndex = index;
            },
            addPromo(promo, index) {
                var drugTestCheck = this.testIncluded.some(el => el.id === 1);
                if(drugTestCheck) {
                    this.drugTest = true;
                }
                var includes = this.form.selectedPromo.some(el => el.id === promo.id);
                if(!includes) {
                    this.form.selectedPromo.push({
                        id: promo.id,
                        name: promo.name,
                        price: promo.price,
                    })
                } else {
                    Swal.fire({
                        type: 'error',
                        title: 'Promo Already Selected',
                    })
                }
                this.$refs.promoModal.close();
                this.checkTests();
            },
            deletePromo(promo, index) {
                this.form.selectedPromo.splice(index, 1)
                this.checkTests();
            },
            submitAvailedTest() {
                if(this.isEmpty(this.form.selectedTest) && this.isEmpty(this.form.selectedPromo)) {
                    Swal.fire({
                        type: 'error',
                        title: 'Please select test or Promo to proceed',
                    })
                } else {
                    if(this.drugTest && (this.form.id_for_drugtest === '' || this.form.id_for_drugtest === null)) {
                        Swal.fire({
                            type: 'error',
                            title: 'Please add ID number for recieving drug test result',
                        })
                    } else {
                        axios.post('/api/transaction', this.form)
                        .then( data => {
                            Swal.fire({
                                type: 'success',
                                title: 'Wait for your turn to proceed to cashier',
                            })
                            this.print(data.data.id);
                            this.$router.push('/patient');
                        });
                    }
                }
            },
            print(id){
                window.open(`/api/printQueue/${id}`);
            },
            isEmpty(obj) {
                for(var key in obj) {
                    if(obj.hasOwnProperty(key))
                        return false;
                }
                return true;
            }
        },
        created(){
            this.loadClient();
            this.loadTests();
            this.loadPromo();
        },
        computed: {
            filteredTest() {
                return this.tests.filter(test => {
                    return test.text_to_display.toLowerCase().indexOf(this.searchTest.toLowerCase()) > -1
                })
            },

            filteredPromo() {
                return this.promos.filter(promo => {
                    return promo.name.toLowerCase().indexOf(this.searchPromo.toLowerCase()) > -1
                })
            }
        }
    }
</script>