<template>
    <div class="container">
        <div class="box is-marginless content-header has-text-right">
            <p>Settings</p>
        </div>
        <div class="box is-marginless content-body">
            <div class="tabs is-toggle is-fullwidth">
                <ul>
                    <li @click="switchTab(1)" v-bind:class="{ 'is-active' : tabs.information }">
                        <a>
                            <span class="icon is-small"><i class="fas fa-user" aria-hidden="true"></i></span>
                            <span>Information</span>
                        </a>
                    </li>
                    <li @click="switchTab(2)" v-bind:class="{ 'is-active' : tabs.password }">
                        <a>
                            <span class="icon is-small"><i class="fas fa-lock" aria-hidden="true"></i></span>
                            <span>Password</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div v-show="tabs.information">
                <div class="columns is-centered">
                    <div class="column is-6">
                        <div class="container form">
                            <form @submit.prevent="updateUser()">
                                <div class="field">
                                    <label class="label">First Name:</label>
                                    <input v-model="form.first_name" placeholder="e.g William" type="text" name="first_name" id="first_name"
                                        class="input">
                                </div>
                                <div class="field">
                                    <label class="label">Middle Name:</label>
                                    <input v-model="form.middle_name" placeholder="e.g Henry" type="text" name="middle_name" id="middle_name"
                                        class="input">
                                </div>
                                <div class="field">
                                    <label class="label">Last Name:</label>
                                    <input v-model="form.last_name" placeholder="e.g William" type="text" name="last_name" id="last_name"
                                        class="input">
                                </div>
                                <div class="field">
                                    <label class="label">Username:</label>
                                    <input v-model="form.username" placeholder="e.g Gates1234" type="text" name="username" id="username"
                                        class="input">
                                </div>
                                <div class="field is-pulled-right">
                                    <button type="submit" class="button is-primary is-normal is-outlined">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="tabs.password">
                <div class="columns is-centered">
                    <div class="column is-6">
                        <div class="container form">
                            <form @submit.prevent="updatePassword()">
                                <div class="field">
                                    <label class="label">Password:</label>
                                    <input v-model="password.password" placeholder="*********" type="password" name="password" id="password"
                                        class="input">
                                </div>
                                <div class="field">
                                    <label class="label">Re-Type Password:</label>
                                    <input v-model="password.reType" placeholder="*********" type="password" name="password" id="re-password" class="input">
                                </div>
                                <div class="field is-pulled-right">
                                    <button type="submit" class="button is-primary is-normal is-outlined">Change Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                tabs: {
                    information: true,
                    password: false
                },
                form: {},
                password: {
                    password:'',
                    reType:''
                }
            }
        },
        methods: {
            false() {
                this.tabs.information = false;
                this.tabs.password = false;
            },

            switchTab(tab) {
                if(tab === 1) {
                    this.false();
                    this.tabs.information = true;
                }

                if(tab === 2) {
                    this.false();
                    this.tabs.password = true;
                }
            },

            getUser() {
                axios.get('api/getCurrentUser')
                .then( data => {
                    this.form = data.data;
                });
            },

            updateUser() {
                axios.put(`/api/user/${this.form.id}`, this.form)
                .then(()=>{
                    this.getUser();
                    Swal.fire({
                        type: 'success',
                        title: 'User Updated',
                        text: '',
                    })
                })
            },

            updatePassword() {
                if(this.password.password !== this.password.reType) {
                    Swal.fire({
                        type: 'Danger',
                        title: 'Password Not Matched',
                        text: '',
                    })
                } else {
                    axios.put(`api/changePassword/${this.form.id}`, this.password)
                    .then(()=>{
                        this.getUser();
                        Swal.fire({
                            type: 'success',
                            title: 'User Updated',
                            text: '',
                        })
                    })
                }
            }
        },
        created() {
            this.getUser();
        }
    }
</script>
