<template>
    <div class="container">
        <div class="box is-marginless content-header">
            <div class="is-pulled-left">
                <span class="is-size-6 has-text-white has-text-weight-normal p-l-10">Dashboard /</span>
                <a @click="back()" class="is-size-6">Utilities /</a>
                <span class="is-size-6 has-text-white has-text-weight-bold">Promotional Videos</span>
            </div>
            <div class="is-clearfix"></div>
        </div>
        <div class="box is-marginless content-body has-text-centered">
            <h1 class="title has-text-primary has-text-weight-bold">Promotional Videos</h1>
            <!-- <div>
                <button class="button is-primary is-pulled-left has-text-weight-bold" @click="openCreateModal()"><i class="fas fa-upload">&nbsp;</i>Upload Video</button>
            </div> -->
            <br><br>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th v-for="(column, index) in columns" :key="index"> {{column}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="video in videos" :key="video.id">
                        <td><b>{{ video.name }}.{{ video.extension }}</b></td>
                        <td class="is-pulled-right">
                            <button class="button has-text-success" @click="play(video)">
                                <span v-html="isPlaying(video) ? pause_icon : play_icon"></span>
                            </button>
                            <button class="button has-text-danger" @click="confirmDelete(video)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="is-clearfix"></div>
            <a class="button is-link is-pulled-left" @click="back()"><i class="fas fa-backward"></i>&nbsp;Back</a>
            <div class="is-clearfix"></div>
        </div>
        <sweet-modal ref="createModal" title="Add Video" width="50%">
            <div class="container form">
                <div v-if="success != ''" class="notification is-success" role="alert">
                          {{success}}
                </div>
                <form @submit="formSubmit" enctype="multipart/form-data">
                    <strong>Name:</strong>
                    <input type="text" class="input" v-model="name">
                    <br>
                    <br>
                    <strong>File:</strong>
                    <input type="file" class="input" v-on:change="onFileChange">
                    <br>
                    <br>
                    <button class="button is-success">Submit</button>
                </form>
            </div>
        </sweet-modal>
        <sweet-modal ref="nestedChild" icon="error" blocking overlay-theme="dark" modal-theme="dark">
            Please Contact Developers
        </sweet-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                columns:[
                    'Videos',
                    ''
                ],
                name: '',
                file: '',
                success: '',
                videos:{},
                play_icon: '<i class="fas fa-play"></i>',
                pause_icon: '<i class="fas fa-pause"></i>',

            }
        },
        methods: {
            back() {
                this.$router.push("/utility");
            },
            
            isPlaying(video) {
                if( video.is_playing === 1) {
                    return true;
                }

                return false;
            },
            openCreateModal() {
                this.$refs.createModal.open()
            },

            onFileChange(e){
                console.log(e.target.files[0]);
                this.file = e.target.files[0];
            },
            formSubmit(e) {
                e.preventDefault();
                let currentObj = this;
   
                let formData = new FormData();
                formData.append('file', this.file);
                formData.append('name', this.name);
   
                axios.post('/api/videos', formData)
                .then(()=>{
                    this.$refs.createModal.close();
                    this.loadVideos();
                    Swal.fire({
                        type: 'success',
                        title: 'Saved',
                        text: '',
                    })
                })
                .catch(function (error) {
                    currentObj.output = error;
                });
            },
            loadVideos() {
                axios.get('/api/videos')
                    .then(data => {
                        console.log(data);
                        this.videos = data.data;
                    });
            },
            confirmDelete(video) {
                Swal.fire({
                    title: 'Delete this Video?',
                    text: video.name+'.'+video.extension+' will be deleted',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.deleteVideo(video.id);
                    }
                })
            },
            play(video) {
                

                axios.put('/api/videos/'+ video.id)
                .then(()=>{
                        this.loadVideos();
                    Swal.fire({
                        type: 'success',
                        title: 'Video is Playing',
                        text: '',
                    })
                })
                .catch(() => {
                  this.$refs.nestedChild.open()
                })
            },
            deleteVideo(id) {
                    axios.delete('/api/videos/'+id)
                    .then(()=>{
                        this.loadVideos();
                        Swal.fire({
                            type: 'success',
                            title: 'Updated',
                            text: 'Video Deleted',
                        })
                    })
                    .catch(() => {
                    this.$refs.nestedChild.open()
                    })
            }
        },
        created() {
            this.loadVideos();
        }
    }
</script>